.brand-name{
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 100%;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}
  @media (min-width: 576px) {}
  @media (min-width: 768px) {}
  @media (min-width: 1024px) {
  .brand-name{
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 100%;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
  }}
  @media (min-width: 992px) {}
  @media (min-width: 1200px) {}


.brand-tagline{
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.center{
    margin-left: 4rem;
}

.item-header-brand{
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #8F8C9E;
}

.item-header-text{
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.card-body-brand {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-top: 2rem;
    }

.mission-container {
    margin-top: 10rem;
    margin-left: 3rem;
    border-top: 1px solid #FFFFFF;
}

.mission{
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.mission-p{
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.container-m {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}


.u-color {
    color: #FFFFFF;
}

.user-image img {
    border: 3px solid #FFFFFF;
    padding: 2px
}


.slider-2 .item-comment {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.card-title-2 {
  font-family: 'Futura PT';
  color: #FFFFFF;
  font-size: 16px;
  line-height: 30.77px;
  text-transform: uppercase;
  font-weight: 500;
  font-weight: bold;
  margin-bottom: 0.75rem;
  }

  .card-border{
    border-top: 1px solid #FFFFFF;
    margin-top: 2rem;
  }

.video_href:hover{
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.p-4-brand-1 {
  font-family: 'Futura PT';
  color: #fff !important;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  font-size: 60px;
  }
  @media (min-width: 576px) {
    .p-4-brand-1 {
        } }
  @media (min-width: 768px) {
    .p-4-brand-1 { } }
  @media (min-width: 992px) {
    .p-4-brand-1:after {
      font-family: 'Futura PT';
      color: #fff !important;
      line-height: 100%;
      font-weight: 400;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      font-size: 60px;
      white-space: pre;
      content: "ЛИНЕЙКА ТОВАРОВ ПО\AКАТЕГОРИЯМ";} }
  @media (min-width: 1024px) {
    .p-4-brand-1:after {
      font-family: 'Futura PT';
      color: #fff !important;
      line-height: 100%;
      font-weight: 400;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      font-size: 60px;
      white-space: pre;
      content: "ЛИНЕЙКА ТОВАРОВ ПО\AКАТЕГОРИЯМ";} }

  @media (min-width: 1200px) {
    .p-4-brand-1::after {
      margin-top: 2rem !important;
      font-family: 'Futura PT';
      color: #fff !important;
      line-height: 100%;
      font-weight: 400;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      font-size: 60px;
      align-items: flex-end;
      white-space: pre;
      content: "ЛИНЕЙКА ТОВАРОВ ПО\AКАТЕГОРИЯМ";} }

.p-4-brand-2 {
  font-family: 'Futura PT';
  color: #fff !important;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  font-size: 60px;
  }
  @media (min-width: 576px) {
    .p-4-brand-2 {
        } }
  @media (min-width: 768px) {
    .p-4-brand-2 { } }
  @media (min-width: 992px) {
    .p-4-brand-1:after {
      font-family: 'Futura PT';
      color: #fff !important;
      line-height: 100%;
      font-weight: 400;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      font-size: 60px;
      white-space: pre;
      content: "ПРЕИМУЩЕСТВА";} }
  @media (min-width: 1024px) {
    .p-4-brand-2:after {
      font-family: 'Futura PT';
      color: #fff !important;
      line-height: 100%;
      font-weight: 400;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      font-size: 50px;
      white-space: pre;
      content: "ПРЕИМУЩЕСТВА";} }

  @media (min-width: 1200px) {
    .p-4-brand-2::after {
      margin-top: 2rem !important;
      font-family: 'Futura PT';
      color: #fff !important;
      line-height: 100%;
      font-weight: 400;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      font-size: 60px;
      align-items: flex-end;
      white-space: pre;
      content: "ПРЕИМУЩЕСТВА";} }

.p-4-brand-3 {
  font-family: 'Futura PT';
  color: #fff !important;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  font-size: 60px;
  }
  @media (min-width: 576px) {
    .p-4-brand-3 {
        } }
  @media (min-width: 768px) {
    .p-4-brand-3 { } }
  @media (min-width: 992px) {
    .p-4-brand-1:after {
      font-family: 'Futura PT';
      color: #fff !important;
      line-height: 100%;
      font-weight: 400;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      font-size: 60px;
      white-space: pre;
      content: "состав\Aи ингредиенты";} }
  @media (min-width: 1024px) {
    .p-4-brand-3:after {
      font-family: 'Futura PT';
      color: #fff !important;
      line-height: 100%;
      font-weight: 400;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      font-size: 60px;
      white-space: pre;
      content: "состав\Aи ингредиенты";} }

  @media (min-width: 1200px) {
    .p-4-brand-3::after {
      margin-top: 2rem !important;
      font-family: 'Futura PT';
      color: #fff !important;
      line-height: 100%;
      font-weight: 400;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      font-size: 60px;
      align-items: flex-end;
      white-space: pre;
      content: "состав\Aи ингредиенты";} }


.p-4-brand-4 {
  font-family: 'Futura PT';
  color: #fff !important;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  font-size: 60px;
  }
  @media (min-width: 576px) {
    .p-4-brand-4 {
        } }
  @media (min-width: 768px) {
    .p-4-brand-4 { } }
  @media (min-width: 992px) {
    .p-4-brand-1:after {
      font-family: 'Futura PT';
      color: #fff !important;
      line-height: 100%;
      font-weight: 400;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      font-size: 60px;
      white-space: pre;
      content: "отзывы\A покупателей";} }
  @media (min-width: 1024px) {
    .p-4-brand-4:after {
      font-family: 'Futura PT';
      color: #fff !important;
      line-height: 100%;
      font-weight: 400;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      font-size: 60px;
      white-space: pre;
      content: "отзывы\A покупателей";} }

  @media (min-width: 1200px) {
    .p-4-brand-4::after {
      margin-top: 2rem !important;
      font-family: 'Futura PT';
      color: #fff !important;
      line-height: 100%;
      font-weight: 400;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      font-size: 60px;
      align-items: flex-end;
      white-space: pre;
      content: "отзывы\A покупателей";} }


.p-4-brand-5 {
  font-family: 'Futura PT';
  color: #fff !important;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  font-size: 60px;
  }
  @media (min-width: 576px) {
    .p-4-brand-5 {
        } }
  @media (min-width: 768px) {
    .p-4-brand-5 { } }
  @media (min-width: 992px) {
    .p-4-brand-1:after {
      font-family: 'Futura PT';
      color: #fff !important;
      line-height: 100%;
      font-weight: 400;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      font-size: 60px;
      white-space: pre;
      content: "видео-блок с\A обзорами";} }
  @media (min-width: 1024px) {
    .p-4-brand-5:after {
      font-family: 'Futura PT';
      color: #fff !important;
      line-height: 100%;
      font-weight: 400;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      font-size: 60px;
      white-space: pre;
      content: "видео-блок с\A обзорами";} }

  @media (min-width: 1200px) {
    .p-4-brand-5::after {
      margin-top: 2rem !important;
      font-family: 'Futura PT';
      color: #fff !important;
      line-height: 100%;
      font-weight: 400;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      font-size: 60px;
      align-items: flex-end;
      white-space: pre;
      content: "видео-блок с\A обзорами";} }


.p-4-brand-6 {
  font-family: 'Futura PT';
  color: #fff !important;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  font-size: 60px;
  }
  @media (min-width: 576px) {
    .p-4-brand-6 {
        } }
  @media (min-width: 768px) {
    .p-4-brand-6 { } }
  @media (min-width: 992px) {
    .p-4-brand-6:after {
      font-family: 'Futura PT';
      color: #fff !important;
      line-height: 100%;
      font-weight: 400;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      font-size: 60px;
      white-space: pre;
      content: "блок прессы";} }
  @media (min-width: 1024px) {
    .p-4-brand-6:after {
      font-family: 'Futura PT';
      color: #fff !important;
      line-height: 100%;
      font-weight: 400;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      font-size: 60px;
      white-space: pre;
      content: "блок прессы";} }

  @media (min-width: 1200px) {
    .p-4-brand-6::after {
      margin-top: 2rem !important;
      font-family: 'Futura PT';
      color: #fff !important;
      line-height: 100%;
      font-weight: 400;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      font-size: 60px;
      align-items: flex-end;
      white-space: pre;
      content: "блок прессы";} }


.p-4-brand-7 {
  font-family: 'Futura PT';
  color: #fff !important;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  font-size: 60px;
  }
  @media (min-width: 576px) {
    .p-4-brand-7 {
        } }
  @media (min-width: 768px) {
    .p-4-brand-7 { } }
  @media (min-width: 992px) {
    .p-4-brand-7:after {
      font-family: 'Futura PT';
      color: #fff !important;
      line-height: 100%;
      font-weight: 400;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      font-size: 60px;
      white-space: pre;
      content: "сделаем первый шаг\Aк сотрудничеству";} }
  @media (min-width: 1024px) {
    .p-4-brand-7:after {
      font-family: 'Futura PT';
      color: #fff !important;
      line-height: 100%;
      font-weight: 400;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      font-size: 60px;
      white-space: pre;
      content: "сделаем первый шаг\Aк сотрудничеству";} }

  @media (min-width: 1200px) {
    .p-4-brand-7::after {
      margin-top: 2rem !important;
      font-family: 'Futura PT';
      color: #fff !important;
      line-height: 100%;
      font-weight: 400;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      font-size: 60px;
      align-items: flex-end;
      white-space: pre;
      content: "сделаем первый шаг\Aк сотрудничеству";} }