:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

  @font-face {
    font-family: 'Futura PT Medium';
    src: url('Futura-PT/FuturaPT-Medium.eot');
    src: local('Futura-PT/Futura PT Medium'), local('FuturaPT-Medium'),
        url('Futura-PT/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
        url('Futura-PT/FuturaPT-Medium.woff2') format('woff2'),
        url('Futura-PT/FuturaPT-Medium.woff') format('woff'),
        url('Futura-PT/FuturaPT-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('Futura-PT/FuturaPT-Light.eot');
    src: local('Futura-PT/Futura PT Light'), local('FuturaPT-Light'),
        url('Futura-PT/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
        url('Futura-PT/FuturaPT-Light.woff2') format('woff2'),
        url('Futura-PT/FuturaPT-Light.woff') format('woff'),
        url('Futura-PT/FuturaPT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

.p-catalog{
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 100%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #504C67;
    margin-top: 2rem;
}

.p-catalog-brands{
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 64px;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}

.p-catalog-brands-category{
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.card-deck-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 70rem;
  background-color: #1F1A3D; }
  .card-deck-category .card {
    margin-bottom: 15px;
    background-color: #1F1A3D; }
  @media (min-width: 576px) {
    .card-deck-category {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      margin-right: -15px;
      margin-left: -15px;
      background-color: #1F1A3D; }
      .card-deck-category .card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-right: 15px;
        margin-bottom: 0;
        margin-left: 15px;
        background-color: #1F1A3D; } }


.card-title-catalog {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;

}

.info-catalog{
    margin-left: 15rem;
    margin-top: 2rem;
}

.catalog-telephone{
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    text-transform: uppercase;
    color: #FFFFFF;

}

.catalog-mail{
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.b2b-btn{
    background: #504C67;
    border-radius: 16px;
    color: #FFFFFF;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 4px solid transparent;
    padding: 0.03rem 0.45rem;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.5;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.b2b-span{
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}
.b2b-p{
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
}

.b2b-btn-white{
    background: #FFFFFF;
    border-radius: 16px;
    color: #1F1A3D;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 4px solid transparent;
    padding: 0.03rem 1rem;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.5;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}