.p-catalog{
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 100%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #504C67;
    margin-top: 2rem;
}

.p-catalog-brands{
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 64px;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}

.p-catalog-brands-category{
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.card-deck-category {
  display: -webkit-box;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  background-color: #1F1A3D; }
  .card-deck-category .card {
    margin-bottom: 15px;
    background-color: #1F1A3D; }
  @media (min-width: 576px) {
    .card-deck-category {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      margin-right: -15px;
      margin-left: -15px;
      background-color: #1F1A3D; }
      .card-deck-category .card {
        display: -webkit-box;
        display: -ms-flexbox;
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-right: 15px;
        margin-bottom: 0;
        margin-left: 15px;
        background-color: #1F1A3D; } }
  @media (min-width: 768px) {
    .card-deck-category {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      margin-right: -15px;
      margin-left: -15px;
      background-color: #1F1A3D;
      }
      .card-deck-category .card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-right: 15px;
        margin-bottom: 0;
        margin-left: 15px;
        background-color: #1F1A3D;
         } }
  @media (min-width: 1024px) {
    .card-deck-category {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      margin-right: -15px;
      margin-left: -15px;
      background-color: #1F1A3D;
       width: 100%;}
      .card-deck-category .card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-right: 15px;
        margin-bottom: 0;
        margin-left: 15px;
        background-color: #1F1A3D; } }
  @media (min-width: 992px) {
    .card-deck-category {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      margin-right: -15px;
      margin-left: -15px;
      background-color: #1F1A3D; }
      .card-deck-category .card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-right: 15px;
        margin-bottom: 0;
        margin-left: 15px;
        background-color: #1F1A3D; } }
  @media (min-width: 1200px) {
    .card-deck-category {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      margin-right: -15px;
      margin-left: -15px;
      background-color: #1F1A3D; }
      .card-deck-category .card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-right: 15px;
        margin-bottom: 0;
        margin-left: 15px;
        background-color: #1F1A3D; } }
.card-title-catalog {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;

}

.info-catalog{
    margin-left: 15rem;
    margin-top: 2rem;
}
  @media (min-width: 576px) {
    .info-catalog{
        margin-left: 15rem;
        margin-top: 2rem;
    }
  }
  @media (min-width: 768px) {
    .info-catalog{
        margin-left: 15rem;
        margin-top: 2rem;
    }
  }
  @media (min-width: 1024px) {
    .info-catalog{
    margin-left: 7rem;
    margin-top: 3rem;
    }
 }
  @media (min-width: 992px) {
    .info-catalog{
        margin-left: 15rem;
        margin-top: 2rem;
    }
 }
  @media (min-width: 1200px) {
    .info-catalog{
        margin-left: 15rem;
        margin-top: 2rem;
    }
 }

.catalog-telephone{
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    text-transform: uppercase;
    color: #FFFFFF;

}

.catalog-mail{
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.b2b-btn{
    background: #504C67;
    border-radius: 16px;
    color: #FFFFFF;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 4px solid transparent;
    padding: 0.03rem 0.45rem;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.5;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.b2b-span{
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}
.b2b-p{
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
}

.b2b-btn-white{
    background: #FFFFFF;
    border-radius: 16px;
    color: #1F1A3D;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 4px solid transparent;
    padding: 0.03rem 1rem;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.5;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}


.p-4-brands-items {
  font-family: 'Futura PT';
  color: #fff !important;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  font-size: 60px;
  }
  @media (min-width: 576px) {
    .p-4-brands-items {
        } }
  @media (min-width: 768px) {
    .p-4-brands-items { } }
  @media (min-width: 992px) {
    .p-4-brands-items:after {
      font-family: 'Futura PT';
      color: #fff !important;
      line-height: 100%;
      font-weight: 400;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      font-size: 60px;
      white-space: pre;
      content: "Товары бренда";} }
  @media (min-width: 1024px) {
    .p-4-brands-items:after {
      font-family: 'Futura PT';
      color: #fff !important;
      line-height: 100%;
      font-weight: 400;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      font-size: 60px;
      white-space: pre;
      content: "Товары бренда";} }

  @media (min-width: 1200px) {
    .p-4-brands-items::after {
      margin-top: 2rem !important;
      font-family: 'Futura PT';
      color: #fff !important;
      line-height: 100%;
      font-weight: 400;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      font-size: 60px;
      align-items: flex-end;
      white-space: pre;
      content: "Товары бренда"} }