
nav {
    background-color: #FFFFFF;
    
  }
.nav-bordered{
    border-bottom: 1px solid #BDC2C7;
}

  .nav-link, .dropdown-item {
    font-family: 'Neue Haas Unica';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #131314;
    margin-top: 0.5rem;
  }

  nav li {
    padding: 0 20px;
  }

  nav li.active, nav li.active:before {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }


  .form-inline{
    margin-top: 0.5rem;
  }

  .input-box{
    position: relative;
  }

  .input-box i {
    position: absolute;
    right: 13px;
    top:11px;
    color:#ced4da;

  }

  .form-control{
    height: 50px;
    background-color: transparent;
    box-shadow: none;
    border: none;
  }

  .form-control:focus{
    background-color: transparent;
    box-shadow: none;
    border-color: #eee;

  }

  .dropdown-toggle::after {
    display: none !important;
}

.icon-control {
    margin-top: 5px;
    float: right;
    font-size: 80%;
}



.btn-light {
    background-color: #fff;
    border-color: #e4e4e4;
}

.list-menu {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.list-menu a {
    color: #343a40;
}

.card-product-grid .info-wrap {
    overflow: hidden;
    padding: 18px 20px;
}

[class*='card-product'] a.title {
    font-family: 'Neue Haas Unica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #131314;
    display: block;
}

.card-product-grid:hover .btn-overlay {
    opacity: 1;
}
.card-product-grid .btn-overlay {
    -webkit-transition: .5s;
    transition: .5s;
    opacity: 0;
    left: 0;
    bottom: 0;
    color: #fff;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
}
.img-wrap {
    overflow: hidden;
    position: relative;
    background-color: #F7F7F7;
}

.container-product-list{
    margin-top: 3rem;
}

.title, .icon-control {
    font-family: 'Neue Haas Unica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #131314;
}

.custom-control-label{
    font-family: 'Neue Haas Unica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #424446;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #EB5772;
    background-color: #EB5772;
    outline: none !important;
    box-shadow: none;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0rem;
    outline: none !important;
    box-shadow: none;
    color: #424446;
}

.custom-control-label::after {
    outline: none !important;
    box-shadow: none;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow:none !important;
}

a {
    color: #EB5772;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #EB5772;
    text-decoration: none;
}

.scrollable-content {
    max-height: 150px;
    overflow-y: auto;
    scrollbar-gutter: stable;
}

.scrollable-content {
    max-height: 150px;
    overflow-y: auto;
    scrollbar-gutter: stable;
}

#scrollable::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#scrollable::-webkit-scrollbar
{
	width: 2px;
	background-color: #F5F5F5;
}

#scrollable::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}


.checkbox-btn{
    width: 100px;
}

.millilitres{
    margin-top: 1rem;
}

.nav-link-1{
    font-family: 'Neue Haas Unica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #EB5772;

}

.nav-link-2{
    font-family: 'Neue Haas Unica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #8B8C8F;
}

.img-fluid{
    margin: 2rem 2rem 2rem 3rem;
}

.badge-danger{
    background-color: #EB5772;
    width: 50%;
    height: 25px;
    margin-left: 1rem;
    border-radius: 0;
    font-family: 'Neue Haas Unica';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0.5rem;
}

.brand-title{
    font-family: 'Neue Haas Unica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #8B8C8F;
    margin-bottom: 0rem;
}

.brand-title-1{
    font-family: 'Neue Haas Unica';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #131314;
    
}

label.radio {
    cursor: pointer;
  }
  
  label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  label.radio span {
    font-family: 'Neue Haas Unica';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #424446;
    padding: 3px 5px;
    border: none;
    display: inline-block;
    border-radius: 0px;
  }
  
  label.radio input:checked + span {
    border-color: none;
    background: rgba(131, 201, 207, 0.25);
    color: #424446;
  }

  .price {
    font-family: 'Neue Haas Unica';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #EB5772;
  }

.price-old{
    font-family: 'Neue Haas Unica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-decoration-line: line-through;
    color: #BDC2C7;
}

.badge-not{
    background-color: #F7F7F7;
    width: 50%;
    height: 25px;
    margin-left: 1rem;
    border-radius: 0;
    font-family: 'Neue Haas Unica';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0.5rem;
}

.badge-black{
    background-color: #424446;
    width: 50%;
    height: 25px;
    margin-left: 1rem;
    border-radius: 0;
    font-family: 'Neue Haas Unica';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0.5rem;

}

.disabled{
    opacity: 0.5;
}

.btn-primary{
    background: #EB5772;
    border: 1px solid #EB5772;
    font-family: 'Neue Haas Unica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
}

.btn-primary::after{
    background: #EB5772;
    border: 1px solid #EB5772;
    font-family: 'Neue Haas Unica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
}
.btn-primary:hover{
    background: #EB5772;
    border: 1px solid #EB5772;
    font-family: 'Neue Haas Unica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
}

.pagination{

    margin-top: 2rem;
    border: none;
}

.page-link{
    padding: 1px;
    border: none;
    color: #131314;
}

.page-link:after{
    padding: 1px;
    border: none;
    color: #131314;
}

.pagination li a.page-link:hover,
.pagination li a.page-link:focus,
.pagination li.active a.page-link{
    color: #131314;
    background: #fff;
}

.footer-bordered{
    margin-top: 4rem;
    border-top: 1px solid #BDC2C7;
}

.socials{
    padding-right: 3px;
}

.footer-link{
    font-family: 'Neue Haas Unica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #131314;
}

.footer-link-1{
    font-family: 'Neue Haas Unica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #BDC2C7;
}

.add-cart{
    margin-right: 1rem;
    margin-top: 0.3rem;
    color: #131314;
}

.close{
    margin-right: 1rem;
    margin-top: 0.3rem;
    color: #131314;
}

.radio-marging{
    padding-left: 1rem;
    background-color: #F7F7F7;
}

.card-header{
    background-color: transparent;
    border-bottom: transparent;
}

.card{
    border: transparent;
}

.message-for-anonimous{
    background: rgba(131, 201, 207, 0.25);
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Neue Haas Unica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #444648;
}

.message-for-anonimous-span{
    font-family: 'Neue Haas Unica';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    color: #131314;
}

.after-logo{
    margin-left: 0.3rem;
    margin-top: 0.3rem;
}


.nav-tabs{
    border: none;
}

a.active {
    border-bottom: 2px solid #EB5772;
}


  .nav-pills .nav-link.active {
    background-color: #FFFFFF;
    border-radius: 0.5rem 0.5rem 0 0;
    font-family: 'Neue Haas Unica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #131314;
  }

  .list-group-item{
      border: none;
  }

  .filter-brand{
    font-family: 'Neue Haas Unica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #444648;
  }

  .filter-brand-2{
    font-family: 'Neue Haas Unica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #444648;
    border-bottom: 1px solid #444648;
  }
.filter-brand-2:hover{
    color: #EC5EA2;
    border-bottom: 1px solid #EC5EA2;
}
  .heading{
    font-family: 'Neue Haas Unica';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #444648;
  }

  .list-group-item-action{
    font-family: 'Neue Haas Unica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #9A9B9E;
  }

 .colored-container{
    background: rgba(131, 201, 207, 0.25);
 }
 .colored-container-1{
     background-color: transparent;
 }

 .list-group-item-action:hover{
     background-color: transparent;
     color: #EB5772;
 }

 .search-in-dropdown{
    background: #F7F7F7;
    width: 800px;
 }
 
 .back{
     display: none;
 }

 .blured{
     filter: blur(2px);
 }

 .cart-form{
    position:relative
 }

 .back-form {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

 .minus, .plus{
    border:1px solid  #E9EEF3;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background: #F7F7F7;
    height:34px;
    width: 30px;
 }

 .count-items{
    height:34px;
    width: 150px;
    text-align: center;
    font-size: 26px;
    border:1px solid #F7F7F7;
    display: inline-block;
    vertical-align: middle;
    background: #F7F7F7;
    font-family: 'Neue Haas Unica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    
    color: #000000;
 }
 .btn-add-to-cart{
    width: 90%;
    background: #EB5772;
 }
 .number{
    max-width: 500px;
    margin-bottom: 1rem;
 }

 .added-labels{
    background: #444648;
    font-family: 'Neue Haas Unica';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    line-height: 140%;
    color: #FFFFFF;
    width: 100px;
    margin: 1px 1px 1px 1px;
 }

.label-close{
    color: #FFFFFF;
    text-align: center;
}
