.p-4-press{
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 64px;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #8F8C9E;
}