{% extends  'home.html' %}
{% block title %} Корзина {% endblock %}
{% load static %}
{% block content %}
	<section class="ftco-section">
        <div class="container" style="margin-top: 3rem; margin-bottom: 10rem;">
                    <div class="row">
                        <div class="col-md-8 cart">
                            <div class="row">
                                <div class="row main align-items-center border-basket">
                                    <div class="col-2"><img class="img-fluid" src="{% static 'images/Rectangle 113.png' %}"></div>
                                    <div class="col">
                                        <div class="row card-title-catalog">Dr.Gloderm TabRX Liftup Cream Крем для лица подтягивающий, 45 гр</div>
                                    </div>
                                    <div class="col-2"><p class="card-text b2b-p"><span class="b2b-span"> 100</span> шт</p></div>
                                    <div class="col-1"><p class="card-text b2b-p">60000₽</p></div>
                                    <div class="col-1"><button type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="row main align-items-center border-basket">
                                    <div class="col-2"><img class="img-fluid" src="{% static 'images/Rectangle 113.png' %}"></div>
                                    <div class="col">
                                        <div class="row card-title-catalog">Dr.Gloderm TabRX Liftup Cream Крем для лица подтягивающий, 45 гр</div>
                                    </div>
                                    <div class="col-2"><p class="card-text b2b-p"><span class="b2b-span"> 100</span> шт</p></div>
                                    <div class="col-1"><p class="card-text b2b-p">15000₽</p></div>
                                    <div class="col-1"><button type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="row main align-items-center border-basket">
                                    <div class="col-2"><img class="img-fluid" src="{% static 'images/Rectangle 113.png' %}"></div>
                                    <div class="col">
                                        <div class="row card-title-catalog">Dr.Gloderm TabRX Liftup Cream Крем для лица подтягивающий, 45 гр</div>
                                    </div>
                                    <div class="col-2"><p class="card-text b2b-p"><span class="b2b-span"> 100</span> шт</p></div>
                                    <div class="col-1"><p class="card-text b2b-p">15000₽</p></div>
                                    <div class="col-1"><button type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="row main align-items-center border-basket">
                                    <div class="col-2"><img class="img-fluid" src="{% static 'images/Rectangle 113.png' %}"></div>
                                    <div class="col">
                                        <div class="row card-title-catalog">Dr.Gloderm TabRX Liftup Cream Крем для лица подтягивающий, 45 гр</div>
                                    </div>
                                    <div class="col-2"><p class="card-text b2b-p"><span class="b2b-span"> 100</span> шт</p></div>
                                    <div class="col-1"><p class="card-text b2b-p">30000₽</p></div>
                                    <div class="col-1"><button type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 summary">
                            <hr>
                            <div class="row">
                                <div><h5 class="basket-h5"><b>Сумма заказа</b></h5></div>
                                <div class="col text-right"><h5 class="basket-h5"><b>120 000 ₽</b></h5></div>
                                <div><h5 class="basket-h5"><b>Доставка <br>(по адресу инн)</b></h5></div>
                                <div class="col text-right"><h5 class="basket-h5"><b>2 000 ₽</b></h5></div>
                            </div>
                            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                                <div><h5 class="basket-h5"><b>Итого</b></h5></div>
                                <div class="col text-right"><h5 class="basket-h5-2"><b>122 000 ₽</b></h5></div>
                            </div>
                            <button type="button" class="btn  btn-lg btn-block btn-basket">оформить заявку</button>
                            <p class="p-basket">
                                Нажимая на кнопку «оплатить заказ», я принимаю условия публичной оферты и политики конфиденциальности
                            </p>
                        </div>
                    </div>

                </div>
    </section>
<footer class="bg-light text-center text-lg-start footer-10">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
		  <h2 class="footer-heading list-unstyled"><img src="{% static 'images/Vector_footer.svg' %}"  alt=""></h2>
        <ul class="list-unstyled">
			  <li class="li-footer">
				Лидеры мирового рынка косметики Эксклюзивные корейские бренды
			  </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h2 class="footer-heading list-unstyled text-uppercase">меню</h2>
        <ul class="list-unstyled footer-links">
          <li>
            <a href="" class="footer-links">Бренды</a>
          </li>
          <li>
            <a href="" class="footer-links">Каталог</a>
          </li>
          <li>
            <a href="" class="footer-links">Партнерство</a>
          </li>
          <li>
            <a href="" class="footer-links">О компании</a>
          </li>
          <li>
            <a href="" class="footer-links">Пресса</a>
          </li>
          <li>
            <a href="" class="footer-links">Контакты</a>
          </li>
          <li>
            <a href="" class="footer-links">Интернет-магазин</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h2 class="footer-heading list-unstyled text-uppercase">бренды</h2>

        <ul class="list-unstyled footer-links">
          <li>
            <a href="#!" class="footer-links">Wella</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Londa</a>
          </li>
          <li>
            <a href="#!" class="footer-links">OPI</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Swarovski</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Nioxin</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Haruharu</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Nioxin</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h2 class="footer-heading list-unstyled text-uppercase">контакты</h2>

        <ul class="list-unstyled footer-links">
          <li class="">
			  +7 (499) 409-21-80
			115093 Россия, г. Москва,
			ул. Павловская, д. 27, стр. 4
			info@beforce.ru

          </li>
          <li>
			Италия +39 02 3046-2659
			</li>
			<li>
			Республика Корея +82 070 4680-5682
          </li>
		</ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-5 pt-4 border-top">
	<div class="col-lg-4 col-md-6 mb-4 mb-md-0">
		<p class=" mb-0">Design & development by © BeautyForce™</p>
	</div>
	  <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
		<ul class="">
		  <a href="" class=""><img src="{% static 'images/Group 1024.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1028.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1025.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1026.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1029.svg' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1030.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1031.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1027.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1032.png' %}"  alt=""></a>
		</ul>
	  </div>
		  <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
		  	<p class=" mb-0">Политика конфиденциальности</p>
		  </div>
	</div>
  </div>
</footer>
{% endblock content %}