{% extends  'home.html' %}
{% block title %} Страница бренда {% endblock %}
{% load static %}
{% block content %}

<!-- name brand -->
{% for brand_item in brand %}
	<div class="section-name-brand">
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col align-self-center center">
					<p class="brand-name">
						{{ brand_item.brand_name }}
					</p>
					{% if brand_item.tagline == None %}
					{% else %}
					<p class="brand-tagline">
						{{ brand_item.tagline }}
					</p>
					{% endif %}
					<div class="card-group">
					  <div class="card">
						<div class="card-body-brand">
						  <p class="item-header-brand">Страна</p>
						  <p class="item-header-text">{{ brand_item.country }}</p>
						  <p class="item-header-brand">Ассортимент</p>
						  <p class="item-header-text">{{ brand_item.assortment }}</p>
						</div>
					  </div>
					  <div class="card">
						<div class="card-body-brand">
						  <p class="item-header-brand">категория</p>
						  <p class="item-header-text">{{ brand_item.category }}</p>
						  <p class="item-header-brand">Ценовой сегмент</p>
						  <p class="item-header-text">{{ brand_item.price_segment }}</p>
						</div>
					  </div>
					</div>
				</div>
				<div class="col align-self-end">
					<img src="{{ brand_images.0.brands_image.url }}" class="image_main" alt="">
				</div>
			</div>
		</div>
	</section>
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="images-container">
						<img src="{{ brand_images.1.brands_image.url }}" alt="">
					</div>
				</div>
				<div class="col">
					<div class="mission-container">
						<p class="mission" style="margin-top: 2rem;">
							миссия
						</p>
						<p class="p-2-1">
							ОПИСАНИЕ
						</p>
						<p class="mission-p">
							{{ brand_item.description|linebreaks }}
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
		<section class="ftco-section">
			<div class="container container-blue">
				<div class="row">
					<div class="col">
						</div>
					</div>
				</div>
	</section>
		<section class="ftco-section">
			<div class="container ">
				<div class="row">
					<div class="col">
						<p class="p-3">
							КАТЕГОРИИ ТОВАРОВ
						</p>
					</div>
				</div>
			</div>
		</section>
		<section class="ftco-section">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="p-4">
							линейка товаров по<br> категориям
						</p>
						<div class="row">
							{% for brand_category in brands_category %}
						  <div class="col-sm-6">
							<div class="card">
							  <div class="card-body">
								<h5 class="card-title">{{ brand_category.category }}</h5>
								<p class="card-text">
									{{ brand_category.description }}
								</p>
							  </div>
							</div>
						  </div>
						  {% endfor %}
						</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="ftco-section">
			<div class="container container-blue">
				<div class="row">
					<div class="col">
						</div>
					</div>
				</div>
	</section>
		<section class="ftco-section">
			<div class="container ">
				<div class="row">
					<div class="col">
						<p class="p-3">
							ПРЕИМУЩЕСТВА
						</p>
					</div>
				</div>
			</div>
		</section>
		<section class="ftco-section">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="p-4">
							ПРЕИМУЩЕСТВА
							</p>
							{% for brand_benefit in brand_benefits %}
							<div class="card">
								<div class="card-body-brand">
										<h5 class="card-title">{{ brand_benefit.title }}</h5>
										<p class="card-text">
											{{ brand_benefit.description }}
										</p>
								</div>
							  </div>
							  {% endfor %}
						</div>
				<div class="col">
					<img src="{{ brand_images.1.brands_image.url }}" class="" alt="">
				</div>
			</div>
		</section>
		
		<section class="ftco-section">
			<div class="container container-blue">
				<div class="row">
					<div class="col">
						</div>
					</div>
				</div>
	</section>
		<section class="ftco-section">
			<div class="container ">
				<div class="row">
					<div class="col">
						<p class="p-3">
							СОСТАВ И ИНГРЕДИЕНТЫ
						</p>
					</div>
				</div>
			</div>
		</section>
		<section class="ftco-section">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="p-4">
							состав<br> и ингредиенты
						</p>
						<div class="row" style="margin-top: 2rem;">
							{% for compound_and_ingredient in compound_and_ingredients %}
						  <div class="col-sm-6">
							<div class="card">
							  <div class="row no-gutters">
								<div class="">
								  <img src="{{ compound_and_ingredient.image.url }}" style="margin-right: 1rem;" alt="...">
								</div>
								<div class="col">
								  <div class="card-body">
								<h5 class="card-title">{{ compound_and_ingredient.component }}</h5>
								<p class="card-text">
									{{ compound_and_ingredient.description }}
								</p>
								  </div>
								</div>
							  </div>
							</div>
						  </div>
						  {% endfor %}
				</div>
			</div>
		</section>
		<section class="ftco-section">
			<div class="container container-blue">
				<div class="row">
					<div class="col">
						</div>
					</div>
				</div>
	</section>
		<section class="ftco-section">
			<div class="container ">
				<div class="row">
					<div class="col">
						<p class="p-3">
							ОТЗЫВЫ
						</p>
					</div>
				</div>
			</div>
		</section>
		<section class="ftco-section">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="p-4">
							отзывы<br> покупателей
						</p>
					</div>
					<button type="button" class="btn btn-default btn-circle btn-lg" data-target="#reviews" data-slide="prev"><i class="fa fa-long-arrow-left"></i></button>
					<button type="button" class="btn btn-default btn-circle-2 btn-lg" data-target="#reviews" data-slide="next"><i class="fa fa-long-arrow-right"></i></button>
				</div>
				<div id="reviews" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner  container-m">
						{% for review in reviews %}
							  {% if forloop.counter == 1  %}
								  <div class="carousel-item carousel-item-order active">
									  {% else %}
									  <div class="carousel-item carousel-item-order">
									  {% endif %}
									  <div class="card-group">
										<div class="card card-carousel">
											<div class="col-md-4">
											<div class="card"> <i class="fa fa-quote-left u-color"></i>
												<p>{{ review.review }}</p>
												<div class="d-flex justify-content-between align-items-center">
													<div class="user-about"> <span class="font-weight-bold d-block">{{ review.name }}</span>
														<div class="d-flex flex-row mt-1"> 
															{% if review.grade == 0 %}
															<i class="fa fa-star-o u-color"></i> 
															<i class="fa fa-star-o u-color"></i> 
															<i class="fa fa-star-o u-color"></i> 
															<i class="fa fa-star-o u-color"></i> 
															<i class="fa fa-star-o u-color"></i>
															{% elif review.grade == 1 %}
															<i class="fa fa-star u-color"></i> 
															<i class="fa fa-star-o u-color"></i> 
															<i class="fa fa-star-o u-color"></i> 
															<i class="fa fa-star-o u-color"></i> 
															<i class="fa fa-star-o u-color"></i>
															{% elif review.grade == 2 %}
															<i class="fa fa-star u-color"></i> 
															<i class="fa fa-star u-color"></i> 
															<i class="fa fa-star-o u-color"></i> 
															<i class="fa fa-star-o u-color"></i> 
															<i class="fa fa-star-o u-color"></i>
															{% elif review.grade == 3 %}
															<i class="fa fa-star u-color"></i> 
															<i class="fa fa-star u-color"></i> 
															<i class="fa fa-star u-color"></i> 
															<i class="fa fa-star-o u-color"></i> 
															<i class="fa fa-star-o u-color"></i>
															{% elif review.grade == 4 %}
															<i class="fa fa-star u-color"></i> 
															<i class="fa fa-star u-color"></i> 
															<i class="fa fa-star u-color"></i> 
															<i class="fa fa-star u-color"></i> 
															<i class="fa fa-star-o u-color"></i>
															{% else %}
															<i class="fa fa-star u-color"></i> 
															<i class="fa fa-star u-color"></i> 
															<i class="fa fa-star u-color"></i> 
															<i class="fa fa-star u-color"></i> 
															<i class="fa fa-star u-color"></i>
															{% endif %}
														</div>
													</div>
													<div class="user-image"> <img src="{{ review.image.url }}" class="rounded-circle" width="70"> </div>
												</div>
											</div>
											</div>
										</div>
									  </div>
								  </div>
							  {% endfor %}
							  </div>
						  </div>
					  </div>
					</div>
		</section>
		<section class="ftco-section">
			<div class="container container-blue">
				<div class="row">
					<div class="col">
						</div>
					</div>
				</div>
	</section>
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="p-3">
						ВИДЕО
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="p-4">
						видео-блок с<br> обзорами
					</p>
				</div>
					<button type="button" class="btn btn-default btn-circle btn-lg" data-target="#videoCarusel" data-slide="prev"><i class="fa fa-long-arrow-left"></i></button>
					<button type="button" class="btn btn-default btn-circle-2 btn-lg" data-target="#videoCarusel" data-slide="next"><i class="fa fa-long-arrow-right"></i></button>
				</div>
				<div id="videoCarusel" class="carousel slide" data-ride="carousel">
				  <div class="carousel-inner">
					{% for item in video %}
					{% if forloop.counter == 1  %}
						<div class="carousel-item active">
							{% else %}
							<div class="carousel-item">
							{% endif %}
							<div class="card-group">
							  <div class="card card-carousel">
								  <a href="{{ item.link }}" class="video_href"><img src="{{ item.video.url }}" class="d-block w-100" alt="Card image cap"></a>
								  <div class="carousel-caption d-none d-md-block">
									<h5>{{ item.title }}</h5>
								  </div>
							  </div>
							</div>
						</div>
					{% endfor %}
				  </div>
				</div>
		</div>
	</section>
	{% endfor %}
		<section class="ftco-section">
			<div class="container container-blue">
				<div class="row">
					<div class="col">
						</div>
					</div>
				</div>
	</section>
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="p-3">
						ПРЕССА
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="p-4">
						блок прессы
					</p>
					<div class="row">
						{% for presses in press %}
					  <div class="col-sm-6">
						<div class="card card-border">
						  <div class="card-body">
							<h5 class="card-title"><img src="{{ presses.logo.url }}" class="" alt=""></h5>
							<a href="{{ presses.link }}"><H5 class="card-title">{{ presses.title }}</H5></a>
							{% if presses.text == None %}
							{% else %}
								<p class="card-text">
									{{ presses.text }}
								</p>
							{% endif %}
						  </div>
						  <img src="{{ presses.image.url }}" class="card-img-bottom" alt="...">
						</div>
					  </div>
					  {% endfor %}
					  </div>
			</div>
		</div>
	</section>
		<section class="ftco-section">
			<div class="container container-blue">
				<div class="row">
					<div class="col">
						</div>
					</div>
				</div>
	</section>
		<section class="ftco-section">
			<div class="container ">
				<div class="row">
					<div class="col">
						<p class="p-3">
							КОНТАКТЫ
						</p>
					</div>
				</div>
			</div>
		</section>
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="p-4">
						сделаем первый шаг<br>к сотрудничеству
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="ftco-section">
		<div class="container">
		  <div class="row">
			  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3">
				  <form id="contact-form" class="form" action="#" method="POST" role="form">
					  {% csrf_token %}
					<div class="form-group">
						{{ get_price.telephone_number }}
					</div>
					<div class="form-group">
						{{ get_price.email }}
					</div>
					<div class="form-group">
						{{ get_price.contact_name }}
					</div>
					<div class="form-group">
					{{ get_price.company_name }}
					</div>
					  <div class="text-center">
						<p class="p-form text-right"> <button type="submit" class="btn btn-circle btn-xl">Отправить</button>Нажимая кнопку, вы соглашаетесь<br> <span class="p-form text-right span-form">с политикой конфиденциальности</span></p>
					  </div>
				  </form>
			  </div>
				<div class="info-catalog">
					<p class="catalog-telephone">
						+7 (499) 409-21-80 <br> <p class="catalog-mail">info@beforce.ru
					</p>
					<p class="catalog-mail">
						Москва, ул. Павловская, д. 27, стр. 4
					</p>
					<p class="">
						Офис <br> <p class="catalog-mail">Пн - Пт 10:00 - 18:00
					</p>
					<p class="">
						Склад <br> <p class="catalog-mail">Пн - Пт 10:00 - 20:00
					</p>
				</div>
		  </div>
		</div>
	</section>
</div>
<footer class="bg-light text-center text-lg-start footer-10">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
		  <h2 class="footer-heading list-unstyled"><img src="{% static 'images/Vector_footer.svg' %}"  alt=""></h2>
        <ul class="list-unstyled">
			  <li class="li-footer">
				Лидеры мирового рынка косметики Эксклюзивные корейские бренды
			  </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h2 class="footer-heading list-unstyled text-uppercase">меню</h2>
        <ul class="list-unstyled footer-links">
          <li>
            <a href="" class="footer-links">Бренды</a>
          </li>
          <li>
            <a href="" class="footer-links">Каталог</a>
          </li>
          <li>
            <a href="" class="footer-links">Партнерство</a>
          </li>
          <li>
            <a href="" class="footer-links">О компании</a>
          </li>
          <li>
            <a href="" class="footer-links">Пресса</a>
          </li>
          <li>
            <a href="" class="footer-links">Контакты</a>
          </li>
          <li>
            <a href="" class="footer-links">Интернет-магазин</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h2 class="footer-heading list-unstyled text-uppercase">бренды</h2>

        <ul class="list-unstyled footer-links">
          <li>
            <a href="#!" class="footer-links">Wella</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Londa</a>
          </li>
          <li>
            <a href="#!" class="footer-links">OPI</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Swarovski</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Nioxin</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Haruharu</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Nioxin</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h2 class="footer-heading list-unstyled text-uppercase">контакты</h2>

        <ul class="list-unstyled footer-links">
          <li class="">
			  +7 (499) 409-21-80
			115093 Россия, г. Москва,
			ул. Павловская, д. 27, стр. 4
			info@beforce.ru

          </li>
          <li>
			Италия +39 02 3046-2659
			</li>
			<li>
			Республика Корея +82 070 4680-5682
          </li>
		</ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-5 pt-4 border-top">
	<div class="col-lg-4 col-md-6 mb-4 mb-md-0">
		<p class=" mb-0">Design & development by © BeautyForce™</p>
	</div>
	  <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
		<ul class="">
		  <a href="" class=""><img src="{% static 'images/Group 1024.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1028.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1025.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1026.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1029.svg' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1030.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1031.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1027.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1032.png' %}"  alt=""></a>
		</ul>
	  </div>
		  <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
		  	<p class=" mb-0">Политика конфиденциальности</p>
		  </div>
	</div>
  </div>
</footer>

{% if messages %}
{% for msg in messages %}
	{% if msg.message == 'price' %}
	<div class="modal fade" id="messagesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content modal-price">
				<div class="modal-body">
						<div class="text-center p-t-30">
							<h5 style="padding-top: 2rem;"><img src="{% static 'images/done.png' %}"  alt=""></h5>
							<span class="modal-text">
									<span class="modal-price-done">Спасибо!</span><br><span class="modal-price-done-1">Данные успешно отправлены</span>
							</span>
						</div>
				</div>
			  <div class="modal-footer d-flex justify-content-center">
				<button type="button" class="btn btn-secondary text-center" data-dismiss="modal">ОК</button>
			  </div>
			</div>
		</div>
	</div>
		{% else %}
		<div class="modal fade" id="messagesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content modal-price">
					<div class="modal-body">
							<div class="text-center p-t-30">
								
								<span class="modal-text">
										<span class="modal-price-done">{{ msg }}</span>
								</span>
							</div>
					</div>
				  <div class="modal-footer d-flex justify-content-center">
					<button type="button" class="btn btn-secondary text-center" data-dismiss="modal">ОК</button>
				  </div>
				</div>
			</div>
		</div>
		{% endif %}
	{% endfor %}
{% endif %}

{% endblock content %}
