{% extends  'home.html' %}
{% block title %} Страница бренда {% endblock %}
{% load static %}
{% block content %}

<!-- name brand -->

	<div class="section-name-brand">
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col align-self-center center">
					<p class="brand-name">
						Название бренда
					</p>
					<p class="brand-tagline">
						Слоган
					</p>
					<div class="card-group">
					  <div class="card">
						<div class="card-body-brand">
						  <p class="item-header-brand">Страна</p>
						  <p class="item-header-text">Страна-производителя</p>
						  <p class="item-header-brand">Ассортимент</p>
						  <p class="item-header-text">Ассортимент товара</p>
						</div>
					  </div>
					  <div class="card">
						<div class="card-body-brand">
						  <p class="item-header-brand">категория</p>
						  <p class="item-header-text">Категория бренда</p>
						  <p class="item-header-brand">Ценовой сегмент</p>
						  <p class="item-header-text">₽₽₽ Premium</p>
						</div>
					  </div>
					</div>
				</div>
				<div class="col align-self-end">
					<img src="{% static 'images/brand/Rectangle 295.png' %}" class="image_main" alt="">
				</div>
			</div>
		</div>
	</section>
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="images-container">
						<img src="{% static 'images/brand/Rectangle 345.png' %}" alt="">
					</div>
				</div>
				<div class="col">
					<div class="mission-container">
						<p class="mission" style="margin-top: 2rem;">
							миссия
						</p>
						<p class="p-2-1">
							ОПИСАНИЕ
						</p>
						<p class="mission-p">
							Haruharu Wonder создает средства для фундаментального ухода за кожей.
							В переводе с корейского языка haruharu означает «каждый день», именно поэтому
							основной концепцией бреда является стремление стать незаменимым спутником
							ежедневного бьюти-ритуала.
						</p>
						<p class="mission-p">
							Бренд представляет абсолютно безопасные косметические средства,
							которые на 95% состоят из натуральных растительных ингредиентов,
							таких как черный рис, экстракт зеленого чая, экстракт меда и ягод Маки.
							Основываясь на постоянных экспериментах собственной лаборатории, средства
							Haruharu Wonder обеспечивают не только мгновенный эффект, но и легкую доставку
							активных ингредиентов в глубокие слои кожи.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
		<section class="ftco-section">
			<div class="container container-blue">
				<div class="row">
					<div class="col">
						</div>
					</div>
				</div>
	</section>
		<section class="ftco-section">
			<div class="container ">
				<div class="row">
					<div class="col">
						<p class="p-3">
							КАТЕГОРИИ ТОВАРОВ
						</p>
					</div>
				</div>
			</div>
		</section>
		<section class="ftco-section">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="p-4">
							линейка товаров по<br> категориям
						</p>
						<div class="row">
						  <div class="col-sm-6">
							<div class="card">
							  <div class="card-body">
								<h5 class="card-title">категория 1</h5>
								<p class="card-text">
									Серумы и эссенции восстанавливают водный баланс после очищения кожи.
									Они обладают выскоконцентрированными составами, которые наполняют клетки влагой и
									защищают от агрессивного воздействия внешней среды.
								</p>
							  </div>
							</div>
						  </div>
						  <div class="col-sm-6">
							<div class="card">
							  <div class="card-body">
								<h5 class="card-title">категория 2</h5>
								<p class="card-text">
									Мягкий гель-пилинг бережно очищает кожу от ороговевших частиц и глубоко очищает поры.
								</p>
							  </div>
							</div>
						  </div>
						</div>
						<div class="row">
						  <div class="col-sm-6">
							<div class="card">
							  <div class="card-body">
								<h5 class="card-title">категория 3</h5>
								<p class="card-text">
									Кремы HaruHaru Wonder интенсивно увлажняют,
									выравнивают тон кожи и придают здоровое сияние.
									Натуральные растительные ингредиенты не вызывают аллергии,
									а средства подходят даже людям с чувствительной кожей.
								</p>
							  </div>
							</div>
						  </div>
						  <div class="col-sm-6">
							<div class="card">
							  <div class="card-body">
								<h5 class="card-title">категория 4</h5>
								<p class="card-text">
									Маски созданы на основе микрофибрилла из чистого 100% хлопка.
									В составе натуральные ингредиенты, которые обеспечивают антиоксидантный,
									восстанавливающий, увлажняющий или сияющий эффект.
								</p>
							  </div>
							</div>
						  </div>
						</div>
						<div class="row">
						  <div class="col-sm-6">
							<div class="card">
							  <div class="card-body">
								<h5 class="card-title">категория 5</h5>
								<p class="card-text">
									Масло Haruharu Wonder содержит 100% натуральные ингредиенты
									природного происхождения, такие как: масло корейских рисовых отрубей (45%),
									масло семян подсолнечника, масло семян жожоба, масло сладкого миндаля.
									Средство восстанавливает липидный барьер, удерживает влагу и помогает
									сбалансировать выработку кожного сала.
								</p>
							  </div>
							</div>
						  </div>
						  <div class="col-sm-6">
							<div class="card">
							  <div class="card-body">
								<h5 class="card-title">категория 6</h5>
								<p class="card-text">
									Мист-дымка обладает ультралегкой текстурой,
									которая восстанавливает обезвоженную кожу.
									В составе средства экстракт бамбуковых листьев,
									который придает коже упругость,
									а также бетаин – он нормализует водно-жировой баланс.
								</p>
							  </div>
							</div>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="ftco-section">
			<div class="container container-blue">
				<div class="row">
					<div class="col">
						</div>
					</div>
				</div>
	</section>
		<section class="ftco-section">
			<div class="container ">
				<div class="row">
					<div class="col">
						<p class="p-3">
							ПРЕИМУЩЕСТВА
						</p>
					</div>
				</div>
			</div>
		</section>
		<section class="ftco-section">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="p-4">
							Преимущества
						</p>

					  <div class="card">
						<div class="card-body-brand">
								<h5 class="card-title">Запатентованные технологии</h5>
								<p class="card-text">
									Низкотемпературное охлаждение производства эмульсионных шариков
									обеспечивает ультра-насыщенную подачу питания. Формула отвержденной
									жидкой эмульсии сохраняет свою форму даже при комнатной температуре.
								</p>
						</div>
					  </div>
					  <div class="card">
						<div class="card-body-brand">
								<h5 class="card-title">Высококонцентрированные составы</h5>
								<p class="card-text">
									В продуктах Dr.Gloderm все ингредиенты находятся в максимальной концентрации.
									Благодаря этому достигается максимальное воздействие на состояние кожи:
									она наполняется полезными веществами, становясь сияющей и красивой.
								</p>
						</div>
					</div>
					  <div class="card">
						<div class="card-body-brand">
								<h5 class="card-title">В состав не входят опасные ингредиенты</h5>
								<p class="card-text">
									Средства Dr.Gloderm не содержат парабен,
									минеральное масло, бензофенон, феноксиэтанол, тальк.
									Все продукты одобрены и сертифицированы
									Сеульской Ассоциацией дерматологов.
								</p>
						</div>
					  </div>
					  <div class="card">
						<div class="card-body-brand">
								<h5 class="card-title">Улучшение качества кожи</h5>
								<p class="card-text">
									В составах средств лишь природные ингредиенты,
									которые бережно ухаживают за кожей, придавая ей здоровый вид.
								</p>
						</div>
					</div>
					  <div class="card">
						<div class="card-body-brand">
								<h5 class="card-title">Клинические испытания</h5>
								<p class="card-text">
									Все продукты успешно прошли клинические
									испытания на безопасность и аллергенность.
								</p>
						</div>
					  </div>
				</div>
				<div class="col align-self-end">
					<img src="{% static 'images/brand/Rectangle 296.png' %}" class="" alt="">
				</div>
				</div>
			</div>
		</section>
		<section class="ftco-section">
			<div class="container container-blue">
				<div class="row">
					<div class="col">
						</div>
					</div>
				</div>
	</section>
		<section class="ftco-section">
			<div class="container ">
				<div class="row">
					<div class="col">
						<p class="p-3">
							СОСТАВ И ИНГРЕДИЕНТЫ
						</p>
					</div>
				</div>
			</div>
		</section>
		<section class="ftco-section">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="p-4">
							состав<br> и ингредиенты
						</p>
						<div class="row">
						  <div class="col-sm-6">
							<div class="card">
							  <div class="row no-gutters">
								<div class="">
								  <img src="{% static 'images/brand/Rectangle 308.png' %}" alt="...">
								</div>
								<div class="col">
								  <div class="card-body">
								<h5 class="card-title">категория 1</h5>
								<p class="card-text">
									Специально для средств Haruharu Wonder черный рис выращивают н аплодородных полях
									Кореи в регионе Ансон. После сбора урожая, черный рис проходит ферментацию.
									Таким образом увеличивается его антиоксидантное действие.
								</p>
								  </div>
								</div>
							  </div>
							</div>
						  </div>
						  <div class="col-sm-6">
							<div class="card">
							  <div class="row no-gutters">
								<div class="">
								  <img src="{% static 'images/brand/Rectangle 308.png' %}" alt="...">
								</div>
								<div class="col">
								  <div class="card-body">
								<h5 class="card-title">категория 2</h5>
								<p class="card-text">
									Ягоду Маки называют «суперфудом» и «плодом молодости»,
									так как она богата антиоксидантами и антивозрастными свойствами.
									Она защищает кожу от внешних стрессоров, наполняет сухую и чувствительную
									кожу влагой и возвращает здоровый цвет лица.
								</p>
								  </div>
								</div>
							  </div>
							</div>
						  </div>
						</div>
						<div class="row">
						  <div class="col-sm-6">
							<div class="card">
							  <div class="row no-gutters">
								<div class="">
								  <img src="{% static 'images/brand/Rectangle 308.png' %}" alt="...">
								</div>
								<div class="col">
								  <div class="card-body">
								<h5 class="card-title">категория 3</h5>
								<p class="card-text">
									В средствах используется высококачественная гиалуроновая кислота с
									низким молекулярным весом (600 ppm). Она создается  по собственной липосомной
									технологии Haruharu Wonder из красного женьшеня. Благодаря этому она обеспечивает
									быструю доставку ингредиентов глубоко в кожу и мгновенно увлажняет.
								</p>
								  </div>
								</div>
							  </div>
							</div>
						  </div>
						  <div class="col-sm-6">
							<div class="card">
							  <div class="row no-gutters">
								<div class="">
								  <img src="{% static 'images/brand/Rectangle 308.png' %}" alt="...">
								</div>
								<div class="col">
								  <div class="card-body">
								<h5 class="card-title">категория 4</h5>
								<p class="card-text">
									Этот эффективный ингредиент входит в состав миста Haruharu
									WONDER и обеспечивает улучшение упругости кожи.
									Также экстракт бамбука увлажняет и выравнивает рельеф кожи.
								</p>
								  </div>
								</div>
							  </div>
							</div>
						  </div>
						</div>
						<div class="row">
						  <div class="col-sm-6">
							<div class="card">
							  <div class="row no-gutters">
								<div class="">
								  <img src="{% static 'images/brand/Rectangle 308.png' %}" alt="...">
								</div>
								<div class="col">
								  <div class="card-body">
								<h5 class="card-title">категория 5</h5>
								<p class="card-text">
										В кремах Original Line содержится
									экстракт зеленого чая, который снимает раздражения и воспаления,
									а также выравнивает тон лица. Кроме того, зеленый чай питает кожу влагой.
								</p>
								  </div>
								</div>
							  </div>
							</div>
						  </div>
						  <div class="col-sm-6">
							<div class="card">
							  <div class="row no-gutters">
								<div class="">
								  <img src="{% static 'images/brand/Rectangle 308.png' %}" alt="...">
								</div>
								<div class="col">
								  <div class="card-body">
								<h5 class="card-title">категория 6</h5>
								<p class="card-text">
									Масло богато ценными минералами и микроэлементами,
									которые интенсивно питают и восстанавливают защитные функции клеток,
									а также борются с первыми признаками увядания кожи.
								</p>
								  </div>
								</div>
							  </div>
							</div>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="ftco-section">
			<div class="container container-blue">
				<div class="row">
					<div class="col">
						</div>
					</div>
				</div>
	</section>
		<section class="ftco-section">
			<div class="container ">
				<div class="row">
					<div class="col">
						<p class="p-3">
							ОТЗЫВЫ
						</p>
					</div>
				</div>
			</div>
		</section>
		<section class="ftco-section">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="p-4">
							отзывы<br> покупателей
						</p>
					</div>
					<button type="button" onclick="plusCommentSlide()" class="btn btn-default btn-circle btn-lg"><i class="fa fa-long-arrow-left"></i></button>
					<button type="button" onclick="minusCommentSlide()" class="btn btn-default btn-circle-2 btn-lg"><i class="fa fa-long-arrow-right"></i></button>
				</div>
				<div class="slider-2">
					<div class="item-comment">
						<div class="container-m">
							<div class="row">
								<div class="col-md-4">
									<div class="card"> <i class="fa fa-quote-left u-color"></i>
										<p>1111111111111111111111111111111111111111111111</p>
										<div class="d-flex justify-content-between align-items-center">
											<div class="user-about"> <span class="font-weight-bold d-block">Пользователь</span>
												<div class="d-flex flex-row mt-1"> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star-o u-color"></i> <i class="fa fa-star-o u-color"></i> <i class="fa fa-star-o u-color"></i> </div>
											</div>
											<div class="user-image"> <img src="{% static 'images/brand/Ellipse 51.png' %}" class="rounded-circle" width="70"> </div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="card"> <i class="fa fa-quote-left u-color"></i>
										<p>222222222222222222222222222222222222222222222222</p>
										<div class="d-flex justify-content-between align-items-center">
											<div class="user-about"> <span class="font-weight-bold d-block">Пользователь</span>
												<div class="d-flex flex-row mt-1"> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star-o u-color"></i> <i class="fa fa-star-o u-color"></i> </div>
											</div>
											<div class="user-image"> <img src="{% static 'images/brand/Ellipse 51.png' %}" class="rounded-circle" width="70"> </div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="card"> <i class="fa fa-quote-left u-color"></i>
										<p>33333333333333333333333333333333333333333333</p>
										<div class="d-flex justify-content-between align-items-center">
											<div class="user-about"> <span class="font-weight-bold d-block">Пользователь</span>
												<div class="d-flex flex-row mt-1"> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star-o u-color"></i> </div>
											</div>
											<div class="user-image"> <img src="{% static 'images/brand/Ellipse 51.png' %}" class="rounded-circle" width="70"> </div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
					<div class="item-comment">
						<div class="container-m">
							<div class="row">
								<div class="col-md-4">
									<div class="card"> <i class="fa fa-quote-left u-color"></i>
										<p>4444444444444444444444444444444444444444444444</p>
										<div class="d-flex justify-content-between align-items-center">
											<div class="user-about"> <span class="font-weight-bold d-block">Пользователь 1</span>
												<div class="d-flex flex-row mt-1"> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star-o u-color"></i> <i class="fa fa-star-o u-color"></i> <i class="fa fa-star-o u-color"></i> </div>
											</div>
											<div class="user-image"> <img src="{% static 'images/brand/Ellipse 51.png' %}" class="rounded-circle" width="70"> </div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="card"> <i class="fa fa-quote-left u-color"></i>
										<p>555555555555555555555555555555555555555555555555</p>
										<div class="d-flex justify-content-between align-items-center">
											<div class="user-about"> <span class="font-weight-bold d-block">Пользователь 1</span>
												<div class="d-flex flex-row mt-1"> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star-o u-color"></i> <i class="fa fa-star-o u-color"></i> </div>
											</div>
											<div class="user-image"> <img src="{% static 'images/brand/Ellipse 51.png' %}" class="rounded-circle" width="70"> </div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="card"> <i class="fa fa-quote-left u-color"></i>
										<p>66666666666666666666666666666666666666666666666666666</p>
										<div class="d-flex justify-content-between align-items-center">
											<div class="user-about"> <span class="font-weight-bold d-block">Пользователь 1</span>
												<div class="d-flex flex-row mt-1"> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star-o u-color"></i> </div>
											</div>
											<div class="user-image"> <img src="{% static 'images/brand/Ellipse 51.png' %}" class="rounded-circle" width="70"> </div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</section>
		<section class="ftco-section">
			<div class="container container-blue">
				<div class="row">
					<div class="col">
						</div>
					</div>
				</div>
	</section>
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="p-3">
						ВИДЕО
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="p-4">
						видео-блок с<br> обзорами
					</p>
				</div>
					<button type="button" class="btn btn-default btn-circle btn-lg" data-target="#videoCarusel" data-slide="prev"><i class="fa fa-long-arrow-left"></i></button>
					<button type="button" class="btn btn-default btn-circle-2 btn-lg" data-target="#videoCarusel" data-slide="next"><i class="fa fa-long-arrow-right"></i></button>
				</div>
				<div id="videoCarusel" class="carousel slide" data-ride="carousel">
				  <ol class="carousel-indicators">
					<li data-target="#videoCarusel" data-slide-to="0" class="active"></li>
					<li data-target="#videoCarusel" data-slide-to="1"></li>
					<li data-target="#videoCarusel" data-slide-to="2"></li>
				  </ol>
				  <div class="carousel-inner">
					<div class="carousel-item active">
					  <img src="{% static 'images/brand/Rectangle 295.png' %}" class="d-block w-100" alt="...">
					  <div class="carousel-caption d-none d-md-block">
						<h5>1 Видео</h5>
						<p>Описание</p>
					  </div>
					</div>
					<div class="carousel-item">
					  <img src="{% static 'images/brand/Rectangle 295.png' %}" class="d-block w-100" alt="...">
					  <div class="carousel-caption d-none d-md-block">
						<h5>2 Видео</h5>
						<p>Описание</p>
					  </div>
					</div>
					<div class="carousel-item">
					  <img src="{% static 'images/brand/Rectangle 295.png' %}" class="d-block w-100" alt="...">
					  <div class="carousel-caption d-none d-md-block">
						<h5>3 Видео</h5>
						<p>Описание</p>
					  </div>
					</div>
				  </div>
				</div>
		</div>
	</section>
		<section class="ftco-section">
			<div class="container container-blue">
				<div class="row">
					<div class="col">
						</div>
					</div>
				</div>
	</section>
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="p-3">
						ПРЕССА
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="p-4">
						блок прессы
					</p>
					<div class="row">
					  <div class="col-sm-6">
						<div class="card card-border">
						  <div class="card-body">
							<h5 class="card-title"><img src="{% static 'images/brand/Logo 1.png' %}" class="" alt=""></h5>
							<H5 class="card-title">Ситуация SOS: какие маски для лица помогут преобразить кожу к празднику</H5>
						  </div>
						  <img src="{% static 'images/brand/Rectangle 48.jpg' %}" class="card-img-bottom" alt="...">
						</div>
					  </div>
					  <div class="col-sm-6">
						<div class="card card-border">
						  <div class="card-body">
							<h5 class="card-title-2"><img src="{% static 'images/brand/Vector.png' %}" class="" alt=""> леди</h5>
							<h5 class="card-title">Что подарить на Новый год: 50 вариантов для самых модных</h5>
						  </div>
						  <img src="{% static 'images/brand/Rectangle 48.jpg' %}" class="card-img-bottom" alt="...">
						</div>
					  </div>
					</div>
					<div class="row">
					  <div class="col-sm-6">
						<div class="card card-border">
						  <div class="card-body">
							<h5 class="card-title"><img src="{% static 'images/brand/М О С К В И Ч.png' %}" class="" alt=""></h5>
							<H5 class="card-title">6 косметических марок, приехавших в Москву в 2020-м</H5>
							  <p class="card-text">
									Haruharu Wonder строит составы своих средств вокруг двух ключевых ингредиентов:
								  в линии Original это ферментированный экстракт ягод маки, а в Black Rice —
								  экстракт черного риса, тоже ферментированный. Оба компонента богаты антиоксидантами,
								  которые редко бывают некстати в условиях экологии большого города.
							  </p>
						  </div>
						  <img src="{% static 'images/brand/Rectangle 48.jpg' %}" class="card-img-bottom" alt="...">
						</div>
					  </div>
					  <div class="col-sm-6">
						<div class="card card-border">
						  <div class="card-body">
							<h5 class="card-title-2"><img src="{% static 'images/brand/image 5.png' %}" class="" alt=""></h5>
							<h5 class="card-title">Какие бренды пришли в Россию в 2020 году</h5>
							  <p class="card-text">
									Корейская марка Haruharu создает безопасные и эффективные продукты,
								  используя натуральные ингредиенты — каждое средство минимум на 95% состоит
								  из природных компонентов. Среди них можно найти зеленый чай с медом, ягоды маки и
								  лошадиный жир. Также принципиальным отличием бренда является использование
								  молочнокислых бактерий.
							  </p>
						  </div>
						  <img src="{% static 'images/brand/Rectangle 48.jpg' %}" class="card-img-bottom" alt="...">
						</div>
					  </div>
					</div>
					<div class="row">
					  <div class="col-sm-6">
						<div class="card card-border">
						  <div class="card-body">
							<h5 class="card-title"><img src="{% static 'images/brand/Page 1.png' %}" class="" alt=""></h5>
							<H5 class="card-title">Что подарить на Новый год? Модные вещи, напоминающие о путешествиях</H5>
						  </div>
						  <img src="{% static 'images/brand/Rectangle 48.jpg' %}" class="card-img-bottom" alt="...">
						</div>
					  </div>
					  <div class="col-sm-6">
						<div class="card card-border">
						  <div class="card-body">
							<h5 class="card-title-2"><img src="{% static 'images/brand/Vector1.png' %}" class="" alt=""></h5>
							<h5 class="card-title">Итоги года — 2020: новые бьюти-марки на российском рынке</h5>
						  </div>
						  <img src="{% static 'images/brand/Rectangle 48.jpg' %}" class="card-img-bottom" alt="...">
						</div>
					  </div>
					</div>
				</div>
		</div>
		</div>
	</section>
		<section class="ftco-section">
			<div class="container container-blue">
				<div class="row">
					<div class="col">
						</div>
					</div>
				</div>
	</section>
		<section class="ftco-section">
			<div class="container ">
				<div class="row">
					<div class="col">
						<p class="p-3">
							КОНТАКТЫ
						</p>
					</div>
				</div>
			</div>
		</section>
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="p-4">
						сделаем первый шаг<br>к сотрудничеству
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="ftco-section">
		<div class="container">
		  <div class="row">
			  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3">
				  <form id="contact-form" class="form" action="#" method="POST" role="form">
					  <div class="form-group">
						  <label class="form-label" for="name">Телефон</label>
						  <input type="text" class="form-control" id="name" name="name" placeholder="Телефон" tabindex="1" required>
					  </div>
					  <div class="form-group">
						  <label class="form-label" for="email">Контактное лицо</label>
						  <input type="email" class="form-control" id="email" name="email" placeholder="Контактное лицо" tabindex="2" required>
					  </div>
					  <div class="form-group">
						  <label class="form-label" for="subject">Почта</label>
						  <input type="text" class="form-control" id="subject" name="subject" placeholder="Почта" tabindex="3">
					  </div>
					  <div class="form-group">
						  <label class="form-label" for="message">Компания</label>
						  <textarea rows="5" cols="50" name="message" class="form-control" id="message" placeholder="Компания" tabindex="4" required></textarea>
					  </div>
					  <div class="text-center">
						<p class="p-form text-right"> <button type="button" class="btn btn-circle btn-xl">Отправить</button>Нажимая кнопку, вы соглашаетесь<br> <span class="p-form text-right span-form">с политикой конфиденциальности</span></p>
					  </div>
				  </form>
			  </div>
				<div class="info-catalog">
					<p class="catalog-telephone">
						+7 (499) 409-21-80 <br> <p class="catalog-mail">info@beforce.ru
					</p>
					<p class="catalog-mail">
						Москва, ул. Павловская, д. 27, стр. 4
					</p>
					<p class="">
						Офис <br> <p class="catalog-mail">Пн - Пт 10:00 - 18:00
					</p>
					<p class="">
						Склад <br> <p class="catalog-mail">Пн - Пт 10:00 - 20:00
					</p>
				</div>
		  </div>
		</div>
	</section>
</div>
<footer class="bg-light text-center text-lg-start footer-10">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
		  <h2 class="footer-heading list-unstyled"><img src="{% static 'images/Vector_footer.svg' %}"  alt=""></h2>
        <ul class="list-unstyled">
			  <li class="li-footer">
				Лидеры мирового рынка косметики Эксклюзивные корейские бренды
			  </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h2 class="footer-heading list-unstyled text-uppercase">меню</h2>
        <ul class="list-unstyled footer-links">
          <li>
            <a href="" class="footer-links">Бренды</a>
          </li>
          <li>
            <a href="" class="footer-links">Каталог</a>
          </li>
          <li>
            <a href="" class="footer-links">Партнерство</a>
          </li>
          <li>
            <a href="" class="footer-links">О компании</a>
          </li>
          <li>
            <a href="" class="footer-links">Пресса</a>
          </li>
          <li>
            <a href="" class="footer-links">Контакты</a>
          </li>
          <li>
            <a href="" class="footer-links">Интернет-магазин</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h2 class="footer-heading list-unstyled text-uppercase">бренды</h2>

        <ul class="list-unstyled footer-links">
          <li>
            <a href="#!" class="footer-links">Wella</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Londa</a>
          </li>
          <li>
            <a href="#!" class="footer-links">OPI</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Swarovski</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Nioxin</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Haruharu</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Nioxin</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h2 class="footer-heading list-unstyled text-uppercase">контакты</h2>

        <ul class="list-unstyled footer-links">
          <li class="">
			  +7 (499) 409-21-80
			115093 Россия, г. Москва,
			ул. Павловская, д. 27, стр. 4
			info@beforce.ru

          </li>
          <li>
			Италия +39 02 3046-2659
			</li>
			<li>
			Республика Корея +82 070 4680-5682
          </li>
		</ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-5 pt-4 border-top">
	<div class="col-lg-4 col-md-6 mb-4 mb-md-0">
		<p class=" mb-0">Design & development by © BeautyForce™</p>
	</div>
	  <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
		<ul class="">
		  <a href="" class=""><img src="{% static 'images/Group 1024.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1028.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1025.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1026.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1029.svg' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1030.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1031.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1027.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1032.png' %}"  alt=""></a>
		</ul>
	  </div>
		  <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
		  	<p class=" mb-0">Политика конфиденциальности</p>
		  </div>
	</div>
  </div>
</footer>

{% endblock content %}