{% extends  'home.html' %}
{% block title %} Список брендов {% endblock %}
{% load static %}
{% block content %}

<!-- brands links container -->

<div class="section-links">
<section class="ftco-section ">
	<div class="container container-links">
		<div class="row">
			<div class="col">
				<p class="p-2">
					Бренды
				</p>
			</div>
			<div class="col-1-1 brands-href">
				<p><a href="#Decorations" class="">
					украшения
				</a></p>
				<p><a href="#hair-care" class="">
					Уход за волосами
				</a></p>
				<p><a href="#skin-care" class="">
					уход за кожей
				</a></p>
			</div>
			<div class="col-1-1 brands-href">
				<p><a href="#decorative-cosmetic" class="">
					декоративная косметика
				</a></p>
				<p><a href="#hygiene" class="">
					Гигиена
				</a></p>
			</div>
		</div>
	</div>
</section>
</div>

<!-- Decorations -->

<div id="Decorations" class="section-decorations">
	<section class="ftco-section section-3">
		<div class="container container-white">
			<div class="row">
				<div class="col">
					</div>
				</div>
			</div>
</section>
<section class="ftco-section-white">
	<div class="container">
		<div class="row">
			<div class="col">
				<p class="p-4-white">
					украшения
				</p>
			</div>
		</div>
	</div>
</section>
<section class="ftco-section-white">
	<div class="container">
		<div class="row">
			<div class="col decorations">
				<img src="{% static 'images/brands/Group 381.png' %}" loading="lazy" alt="prcy" alt="">
			</div>
		</div>
	</div>
</section>
</div>

<!-- HAIR CARE -->

<div id="hair-care" class="section-hair-care">
	<section class="ftco-section section-3">
		<div class="container container-white">
			<div class="row">
				<div class="col">
					</div>
				</div>
			</div>
</section>
<section class="ftco-section-white">
	<div class="container">
		<div class="row">
			<div class="col">
				<p class="p-4-white">
					УХОД ЗА ВОЛОСАМИ
				</p>
			</div>
		</div>
	</div>
</section>
<section class="ftco-section-white">
	<div class="container">
		<div class="row">
			<div class="col hair-care">
				<img src="{% static 'images/brands/Group 364.png' %}" loading="lazy" alt="prcy" alt="">
				<img src="{% static 'images/brands/Group 362.png' %}" loading="lazy" alt="prcy" alt="">
				<img src="{% static 'images/brands/Group 365.png' %}" loading="lazy" alt="prcy" alt="">
				<img src="{% static 'images/brands/Group 366.png' %}" loading="lazy" alt="prcy" alt="">
				<img src="{% static 'images/brands/Group 367.png' %}" loading="lazy" alt="prcy" alt="">
				<img src="{% static 'images/brands/Group 368.png' %}" loading="lazy" alt="prcy" alt="">
			</div>
		</div>
	</div>
</section>
</div>

<!-- SKIN CARE -->

<div id="skin-care" class="section-skin-care">
	<section class="ftco-section section-3">
		<div class="container container-white">
			<div class="row">
				<div class="col">
					</div>
				</div>
			</div>
</section>
<section class="ftco-section-white">
	<div class="container">
		<div class="row">
			<div class="col">
				<p class="p-4-white">
					УХОД ЗА КОЖЕЙ
				</p>
			</div>
		</div>
	</div>
</section>
<section class="ftco-section-white">
	<div class="container">
		<div class="row">
			<div class="col hair-care">
				<img src="{% static 'images/brands/Group 345.png' %}" loading="lazy" alt="prcy" alt="">
				<img src="{% static 'images/brands/Group 353.png' %}" loading="lazy" alt="prcy" alt="">
				<img src="{% static 'images/brands/Group 422.png' %}" loading="lazy" alt="prcy" alt="">
				<img src="{% static 'images/brands/Group 350.png' %}" loading="lazy" alt="prcy" alt="">
				<img src="{% static 'images/brands/Group 358.png' %}" loading="lazy" alt="prcy" alt="">
				<img src="{% static 'images/brands/Group 343.png' %}" loading="lazy" alt="prcy" alt="">
				<img src="{% static 'images/brands/Group 383.png' %}" loading="lazy" alt="prcy" alt="">
			</div>
		</div>
	</div>
</section>
</div>

<!-- HYGIENE -->

<div id="hygiene" class="section-hygiene">
	<section class="ftco-section section-3">
		<div class="container container-white">
			<div class="row">
				<div class="col">
					</div>
				</div>
			</div>
</section>
<section class="ftco-section-white">
	<div class="container">
		<div class="row">
			<div class="col">
				<p class="p-4-white">
					гигиена
				</p>
			</div>
		</div>
	</div>
</section>
<section class="ftco-section-white">
	<div class="container">
		<div class="row">
			<div class="col decorations">
				<img src="{% static 'images/brands/Group 424.png' %}" loading="lazy" alt="prcy" alt="">
			</div>
		</div>
	</div>
</section>
</div>

<!-- DECORATIVE COSMETICS -->

<div id="decorative-cosmetic" class="section-decorative-cosmetic">
	<section class="ftco-section section-3">
		<div class="container container-white">
			<div class="row">
				<div class="col">
					</div>
				</div>
			</div>
</section>
<section class="ftco-section-white">
	<div class="container">
		<div class="row">
			<div class="col">
				<p class="p-4-white">
					ДЕКОРАТИВНАЯ КОСМЕТИКА
				</p>
			</div>
		</div>
	</div>
</section>
<section class="ftco-section-white">
	<div class="container">
		<div class="row">
			<div class="col decorations">
				<img src="{% static 'images/brands/Group 360.png' %}" loading="lazy" alt="prcy" alt="">
			</div>
		</div>
	</div>
</section>
</div>

<!-- catalog button -->



<div class="section-catalog-button">
	<section class="ftco-section section-3">
		<div class="container container-white">
			<div class="row">
				<div class="col">
					</div>
				</div>
			</div>
</section>
	<section class="ftco-section-white">
		<div class="container catalog">
			<div class="row">
				<div class="col text-center ">
					<p class="p-4-white">
						смотрите все товары в каталоге
					</p>
					<button type="button" class="btn btn-circle-brands btn-xl-brands">открыть каталог</button>
				</div>
			</div>
		</div>
	</section>
</div>

<footer class="ftco-section text-center text-lg-start footer-10">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
		  <h2 class="footer-heading list-unstyled"><img src="{% static 'images/brands/Vector_brands.svg' %}"  alt=""></h2>
        <ul class="list-unstyled">
			  <li class="li-footer">
				Лидеры мирового рынка косметики Эксклюзивные корейские бренды
			  </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h2 class="footer-heading list-unstyled text-uppercase">меню</h2>
        <ul class="list-unstyled footer-links-brands">
          <li>
            <a href="" class="footer-links-brands">Бренды</a>
          </li>
          <li>
            <a href="" class="footer-links-brands">Каталог</a>
          </li>
          <li>
            <a href="" class="footer-links-brands">Партнерство</a>
          </li>
          <li>
            <a href="" class="footer-links-brands">О компании</a>
          </li>
          <li>
            <a href="" class="footer-links-brands">Пресса</a>
          </li>
          <li>
            <a href="" class="footer-links-brands">Контакты</a>
          </li>
          <li>
            <a href="" class="footer-links-brands">Интернет-магазин</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h2 class="footer-heading list-unstyled text-uppercase">бренды</h2>

        <ul class="list-unstyled footer-links-brands">
          <li>
            <a href="#!" class="footer-links-brands">Wella</a>
          </li>
          <li>
            <a href="#!" class="footer-links-brands">Londa</a>
          </li>
          <li>
            <a href="#!" class="footer-links-brands">OPI</a>
          </li>
          <li>
            <a href="#!" class="footer-links-brands">Swarovski</a>
          </li>
          <li>
            <a href="#!" class="footer-links-brands">Nioxin</a>
          </li>
          <li>
            <a href="#!" class="footer-links-brands">Haruharu</a>
          </li>
          <li>
            <a href="#!" class="footer-links-brands">Nioxin</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h2 class="footer-heading list-unstyled text-uppercase">контакты</h2>

        <ul class="list-unstyled footer-links-brands">
          <li class="footer-links-brands">
			  +7 (499) 409-21-80
			115093 Россия, г. Москва,
			ул. Павловская, д. 27, стр. 4
			info@beforce.ru

          </li>
          <li>
			Италия +39 02 3046-2659
			Республика Корея +82 070 4680-5682
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-5 pt-4 border-top">
	<div class="col-lg-4 col-md-6 mb-4 mb-md-0">
		<p class=" mb-0">Design & development by © BeautyForce™</p>
	</div>
	  <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
		<ul class="">
		  <a href="" class=""><img src="{% static 'images/Group 1024.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1028.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1025.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1026.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1029.svg' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1030.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1031.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1027.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1032.png' %}"  alt=""></a>
		</ul>
	  </div>
		  <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
		  	<p class=" mb-0">Политика конфиденциальности</p>
		  </div>
	</div>
  </div>
</footer>
{% endblock content %}