{% extends  'home.html' %}
{% block title %} Товар {% endblock %}
{% load static %}
{% block content %}

<!-- Item Section -->
	<div class="section-item">
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<div id="myCarousel" class="carousel slide" data-ride="carousel" align="center">
						<div class="carousel-inner">
							{% for product_image in product_images %}
								{% if forloop.counter0 == 0  %}
							<div class="carousel-item active">
								{% else %}
							<div class="carousel-item">
								{% endif %}
								<img src="{{ product_image.image.url }}" class="rounded">
							</div>
							{% endfor %}
						</div>
						<ol class="carousel-indicators list-inline">
							{% for product_image in product_images %}
							{% if forloop.counter0 == 0  %}
							<li class="list-inline-item active">
								{% else %}
								<li class="list-inline-item">
								{% endif %}
								<a id="carousel-selector-{{ forloop.counter0 }}" class="selected" data-slide-to="{{ forloop.counter0 }}" data-target="#myCarousel">
									<img src="{{ product_image.image.url }}" class="img-fluid rounded">
								</a>
							</li>
							{% endfor %}
						</ol>
					</div>
				</div>
				<div class="col">
					<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light item-border">
						<p class="item-header">
							Бренд: <span class="span-item">{{ product.brand }}</span>
						</p>
						<p class="item-header">
							Артикул: <span class="span-item">{{ product.vendor_code }}</span>
						</p>
						<p class="item-header">
							Штрихкод: <span class="span-item">{{ product.barcode }}</span>
						</p>
					</nav>
					<p class="item-header-h2">
						{{ product.title }}
					</p>
					  <div class="about-item">
						{{ product.about }}
					  </div>
					<div class="collapse" id="collapseExample">
					  <div class="about-item">
						  {{ product.hidden_description }}
					  </div>
					</div>
					<p>
					  <button class="btn" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="about">
						Смотреть полностью
					  </button>
					</p>
					<div class="">
						<button type="button" class="btn btn-circle btn-xl" data-toggle="modal" data-target="#staticBackdrop">запросить оптовый прайс-лист </button>
						<button type="button" class="btn btn-circle-brands btn-xl-brands">купить в магазине {{ product.price }} ₽</button>
					</div>
						<div id="accordion" class="accordion accordion-item">
							<div class="card card-item">
								<div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
									<a class="card-title-item">
										способ применения
									</a>
								</div>
								<div id="collapseOne" class="card-body collapse" data-parent="#accordion" >
									<p>
										{{ product.mode_of_application|linebreaks}}
									</p>
								</div>
							</div>
							<div class="card card-item">
								<div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
									<a class="card-title-item">
									  Состав
									</a>
								</div>
								<div id="collapseTwo" class="card-body collapse" data-parent="#accordion" >
									<p>
										{{ product.compound|linebreaks }}
									</p>
								</div>
								<div class="card card-item">
								<div class="card-header collapsed " data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
									<a class="card-title-item">
									  Меры предосторожности
									</a>
								</div>
							</div>
								<div id="collapseThree" class="collapse card-body" data-parent="#accordion" >
									<p>
										{{ product.precautionary_measures|linebreaks }}
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>
</div>

<!-- brand goods -->

<div class="catalog-button">
	<section class="ftco-section">
			<div class="container container-blue">
				<div class="row">
					<div class="col">
						</div>
					</div>
				</div>
	</section>
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="p-4">
						товары бренда
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="card-deck-category">
						{% for all_products_f in all_products_first %}
					  <div class="card">
						<img class="card-img-top-catalog" src="{{ all_products_f.image.url }}" alt="Card image cap">
						<div class="card-body">
							<a href="{{ products_all.get_absolute_url }}">
								<h5 class="card-title-catalog">{{ all_products_f.title }}</h5>
							  </a>
						  <p class="card-text">{{ all_products_f.price }} ₽</p>
						</div>
					  </div>
					{% endfor %}
				</div>
					<div class="collapse" id="more">
					<div class="card-deck-category">
						{% for all_products_l in all_products_last %}
					  <div class="card">
						<img class="card-img-top-catalog" src="{{ all_products_l.image.url }}" alt="Card image cap">
						<div class="card-body">
							<a href="{{ products_all.get_absolute_url }}">
								<h5 class="card-title-catalog">{{ all_products_l.title }}</h5>
							  </a>
						  <p class="card-text">{{ all_products_l.price }} ₽</p>
						</div>
					  </div>
					{% endfor %}
				</div>
				</div>
				</div>
				<div class="col text-center">
					<button class="btn text-center" data-toggle="collapse" href="#more" role="button" aria-expanded="false" aria-controls="more">ПОКАЗАТЬ ЕЩЕ <i class="fa fa-angle-down" aria-hidden="true"></i></button>
				</div>
			</div>
        </div>
    </section>
</div>

<footer class="bg-light text-center text-lg-start footer-10">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
		  <h2 class="footer-heading list-unstyled"><img src="{% static 'images/Vector_footer.svg' %}"  alt=""></h2>
        <ul class="list-unstyled">
			  <li class="li-footer">
				Лидеры мирового рынка косметики Эксклюзивные корейские бренды
			  </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h2 class="footer-heading list-unstyled text-uppercase">меню</h2>
        <ul class="list-unstyled footer-links">
          <li>
            <a href="" class="footer-links">Бренды</a>
          </li>
          <li>
            <a href="" class="footer-links">Каталог</a>
          </li>
          <li>
            <a href="" class="footer-links">Партнерство</a>
          </li>
          <li>
            <a href="" class="footer-links">О компании</a>
          </li>
          <li>
            <a href="" class="footer-links">Пресса</a>
          </li>
          <li>
            <a href="" class="footer-links">Контакты</a>
          </li>
          <li>
            <a href="" class="footer-links">Интернет-магазин</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h2 class="footer-heading list-unstyled text-uppercase">бренды</h2>

        <ul class="list-unstyled footer-links">
          <li>
            <a href="#!" class="footer-links">Wella</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Londa</a>
          </li>
          <li>
            <a href="#!" class="footer-links">OPI</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Swarovski</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Nioxin</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Haruharu</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Nioxin</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h2 class="footer-heading list-unstyled text-uppercase">контакты</h2>

        <ul class="list-unstyled footer-links">
          <li class="">
			  +7 (499) 409-21-80
			115093 Россия, г. Москва,
			ул. Павловская, д. 27, стр. 4
			info@beforce.ru

          </li>
          <li>
			Италия +39 02 3046-2659
			</li>
			<li>
			Республика Корея +82 070 4680-5682
          </li>
		</ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-5 pt-4 border-top">
	<div class="col-lg-4 col-md-6 mb-4 mb-md-0">
		<p class=" mb-0">Design & development by © BeautyForce™</p>
	</div>
	  <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
		<ul class="">
		  <a href="" class=""><img src="{% static 'images/Group 1024.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1028.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1025.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1026.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1029.svg' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1030.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1031.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1027.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1032.png' %}"  alt=""></a>
		</ul>
	  </div>
		  <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
		  	<p class=" mb-0">Политика конфиденциальности</p>
		  </div>
	</div>
  </div>
</footer>

<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-price">
      <div class="modal-header">
        <button type="button" class=" price-close" data-dismiss="modal" aria-label="Close">
          <img class="close-img" src="{% static 'images/close.png' %}">
        </button>
      </div>
      <div class="modal-body">
		<div class="col d-flex justify-content-center">
		  <form id="contact-form" class="form" action="#" method="POST" role="form">
			{% csrf_token %}
			  <h5 class="modal-title-price" id="staticBackdropLabel">Введите данные, чтобы <br>скачать прайс</h5>
			  <div class="form-group">
				  	{{ get_price.telephone_number }}
			  </div>
			  <div class="form-group">
					{{ get_price.email }}
			  </div>
			  <div class="form-group">
					{{ get_price.contact_name }}
			  </div>
			  <div class="form-group">
				{{ get_price.company_name }}
			  </div>
			  <div class="text-center">
				  <button type="submit" class="btn btn-circle btn-xl">Отправить</button>
				<p class="p-price"> Нажимая кнопку, вы соглашаетесь<br> <span class="">с политикой конфиденциальности</span></p>
			  </div>
		  </form>
		</div>
      </div>
    </div>
  </div>
</div>

{% if messages %}
    {% for msg in messages %}
        {% if msg.message == 'price' %}
		<div class="modal fade" id="messagesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content modal-price">
					<div class="modal-body">
							<div class="text-center p-t-30">
								<h5 style="padding-top: 2rem;"><img src="{% static 'images/done.png' %}"  alt=""></h5>
								<span class="modal-text">
										<span class="modal-price-done">Спасибо!</span><br><span class="modal-price-done-1">Данные успешно отправлены</span>
								</span>
							</div>
					</div>
				  <div class="modal-footer d-flex justify-content-center">
					<button type="button" class="btn btn-secondary text-center" data-dismiss="modal">ОК</button>
				  </div>
				</div>
			</div>
		</div>
            {% else %}
			<div class="modal fade" id="messagesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content modal-price">
						<div class="modal-body">
								<div class="text-center p-t-30">
									
									<span class="modal-text">
											<span class="modal-price-done">{{ msg }}</span>
									</span>
								</div>
						</div>
					  <div class="modal-footer d-flex justify-content-center">
						<button type="button" class="btn btn-secondary text-center" data-dismiss="modal">ОК</button>
					  </div>
					</div>
				</div>
			</div>
            {% endif %}
        {% endfor %}
    {% endif %}

{% endblock content %}