{% extends  'home.html' %}
{% block title %} Каталог {% endblock %}
{% load static %}
{% block content %}

<!-- catalog -->

<div class="catalog-button">
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="p-catalog">
						ОПТОВЫЙ Каталог
					</p>
				</div>
					<div class="">
						<button type="button" class="btn btn-circle btn-xl" data-toggle="modal" data-target="#staticBackdrop">запросить оптовый прайс-лист </button>
					</div>
				</div>
        </div>
    </section>
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col">
					{% for brand in brands %}
					<p class="p-catalog-brands">
						{{ brand.brand_name }}
					</p>
					<p class="p-catalog-brands-category">
						бестселлеры
					</p>
						<div class="card-deck-category">
							{% for products_all in all_products %}
								{% if products_all.brand.id == brand.id %}
									{% if products_all.product_line.id == 1 %}
									  <div class="card">
										<img class="card-img-top-catalog" src="{{ products_all.image_for_cart.url }}" alt="Card image cap">
										<div class="card-body">
										  <a href="{{ products_all.get_absolute_url }}">
											<h5 class="card-title-catalog">{{ products_all.title }}</h5>
										  </a>
										  {% if user.is_authenticated %}
										  <p class="card-text">{{ products_all.price }} ₽</p>
										  {% else %}
										  <p class="card-text">{{ products_all.retail_price }} ₽</p>
										  {% endif %}
										</div>
									  </div>
									{% endif %}
								{% endif %}
							{% endfor %}
						</div>
						{% for bestsellers_lines in bestsellers_line %}
						<div class="collapse" id="collapse-{{ brand.pk }}">
						  <p class="p-catalog-brands-category" style="margin-top: 2rem;">
							{{ bestsellers_lines.line }}
						  </p>
						<div class="card-deck-category">
							{% for products_all in all_products %}
								{% if products_all.brand.id == brand.id %}
									{% if products_all.product_line.id == bestsellers_lines.id %}
									  <div class="card ">
										<img class="card-img-top-catalog" src="{{ products_all.image_for_cart.url }}" alt="Card image cap">
										<div class="card-body">
										  <a href="{{ products_all.get_absolute_url }}">
											<h5 class="card-title-catalog">{{ products_all.title }}</h5>
										  </a>
										  {% if user.is_authenticated %}
										  <p class="card-text">{{ products_all.price }} ₽</p>
										  {% else %}
										  <p class="card-text">{{ products_all.retail_price }} ₽</p>
										  {% endif %}
										</div>
									  </div>
									{% endif %}
								{% endif %}
							{% endfor %}
						</div>
						</div>
						{% endfor %}
						<div class="col text-center">
							<button class="btn text-center" data-toggle="collapse" data-target="#collapse-{{ brand.pk }}" aria-expanded="false" aria-controls="collapse-{{ brand.pk }}"">ПОКАЗАТЬ ЕЩЕ <i class="fa fa-angle-down" aria-hidden="true"></i></button>
						</div>
			  {% endfor %}
			</div>
        </div>
		</div>
	</section>
</div>

	<div class="section-7">
		<section class="ftco-section">
			<div class="container container-blue">
				<div class="row">
					<div class="col">
						</div>
					</div>
				</div>
	</section>
		<section class="ftco-section">
			<div class="container ">
				<div class="row">
					<div class="col">
						<p class="p-3">
							КОНТАКТЫ
						</p>
					</div>
				</div>
			</div>
		</section>
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="p-4">
						получить оптовый<br> прайс-лист брендов
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="ftco-section">
		<div class="container">
		  <div class="row">
			  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3">
				  <form id="contact-form" class="form" action="#" method="POST" role="form">
					{% csrf_token %}
					<div class="form-group">
						{{ get_price.telephone_number }}
					</div>
					<div class="form-group">
						{{ get_price.email }}
					</div>
					<div class="form-group">
						{{ get_price.contact_name }}
					</div>
					<div class="form-group">
						{{ get_price.company_name }}
					</div>
					  <div class="text-center">
						<p class="p-form text-right"> <button type="submit" class="btn btn-circle btn-xl">Отправить</button>Нажимая кнопку, вы соглашаетесь<br> <span class="p-form text-right span-form">с политикой конфиденциальности</span></p>
					  </div>
				  </form>
			  </div>
				<div class="info-catalog">
					<p class="catalog-telephone">
						+7 (499) 409-21-80 <br> <p class="catalog-mail">info@beforce.ru
					</p>
					<p class="catalog-mail">
						Москва, ул. Павловская, д. 27, стр. 4
					</p>
					<p class="">
						Офис <br> <p class="catalog-mail">Пн - Пт 10:00 - 18:00
					</p>
					<p class="">
						Склад <br> <p class="catalog-mail">Пн - Пт 10:00 - 20:00
					</p>
				</div>
		  </div>
		</div>
	</section>
	</div>
<footer class="bg-light text-center text-lg-start footer-10">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="margin-top: 3rem;">
		  <h2 class="footer-heading list-unstyled"><img src="{% static 'images/Vector_footer.svg' %}"  alt=""></h2>
        <ul class="list-unstyled">
			  <li class="li-footer">
				Лидеры мирового рынка косметики Эксклюзивные корейские бренды
			  </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="margin-top: 3rem;">
        <h2 class="footer-heading list-unstyled text-uppercase">меню</h2>
        <ul class="list-unstyled footer-links">
          <li>
            <a href="" class="footer-links">Бренды</a>
          </li>
          <li>
            <a href="" class="footer-links">Каталог</a>
          </li>
          <li>
            <a href="" class="footer-links">Партнерство</a>
          </li>
          <li>
            <a href="" class="footer-links">О компании</a>
          </li>
          <li>
            <a href="" class="footer-links">Пресса</a>
          </li>
          <li>
            <a href="" class="footer-links">Контакты</a>
          </li>
          <li>
            <a href="" class="footer-links">Интернет-магазин</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="margin-top: 3rem;">
        <h2 class="footer-heading list-unstyled text-uppercase">бренды</h2>

        <ul class="list-unstyled footer-links">
          <li>
            <a href="#!" class="footer-links">Wella</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Londa</a>
          </li>
          <li>
            <a href="#!" class="footer-links">OPI</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Swarovski</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Nioxin</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Haruharu</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Nioxin</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="margin-top: 3rem;">
        <h2 class="footer-heading list-unstyled text-uppercase">контакты</h2>

        <ul class="list-unstyled footer-links">
          <li class="">
			  +7 (499) 409-21-80
			115093 Россия, г. Москва,
			ул. Павловская, д. 27, стр. 4
			info@beforce.ru

          </li>
          <li>
			Италия +39 02 3046-2659
			</li>
			<li>
			Республика Корея +82 070 4680-5682
          </li>
		</ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-5 pt-4 border-top">
	<div class="col-lg-4 col-md-6 mb-4 mb-md-0">
		<p class="mb-0 copyright">Design & development by © BeautyForce™</p>
	</div>
	  <div class="">
		<ul class="">
		  <a href="" class=""><img src="{% static 'images/Group 1024.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1028.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1025.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1026.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1029.svg' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1030.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1031.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1027.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1032.png' %}"  alt=""></a>
		</ul>
	  </div>
		  <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
		  	<p class="copyright-1 mb-0">Политика конфиденциальности</p>
		  </div>
	</div>
  </div>
</footer>


<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content modal-price">
		<div class="modal-header">
		  <button type="button" class=" price-close" data-dismiss="modal" aria-label="Close">
			<img class="close-img" src="{% static 'images/close.png' %}">
		  </button>
		</div>
		<div class="modal-body">
		  <div class="col d-flex justify-content-center">
			<form id="contact-form" class="form" action="#" method="POST" role="form">
			  {% csrf_token %}
				<h5 class="modal-title-price" id="staticBackdropLabel">Введите данные, чтобы <br>скачать прайс</h5>
				<div class="form-group">
						{{ get_price.telephone_number }}
				</div>
				<div class="form-group">
					  {{ get_price.email }}
				</div>
				<div class="form-group">
					  {{ get_price.contact_name }}
				</div>
				<div class="form-group">
				  {{ get_price.company_name }}
				</div>
				<div class="text-center">
					<button type="submit" class="btn btn-circle btn-xl">Отправить</button>
				  <p class="p-price"> Нажимая кнопку, вы соглашаетесь<br> <span class="">с политикой конфиденциальности</span></p>
				</div>
			</form>
		  </div>
		</div>
	  </div>
	</div>
  </div>
  
  {% if messages %}
	  {% for msg in messages %}
		  {% if msg.message == 'price' %}
		  <div class="modal fade" id="messagesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered" role="document">
				  <div class="modal-content modal-price">
					  <div class="modal-body">
							  <div class="text-center p-t-30">
								  <h5 style="padding-top: 2rem;"><img src="{% static 'images/done.png' %}"  alt=""></h5>
								  <span class="modal-text">
										  <span class="modal-price-done">Спасибо!</span><br><span class="modal-price-done-1">Данные успешно отправлены</span>
								  </span>
							  </div>
					  </div>
					<div class="modal-footer d-flex justify-content-center">
					  <button type="button" class="btn btn-secondary text-center" data-dismiss="modal">ОК</button>
					</div>
				  </div>
			  </div>
		  </div>
			  {% else %}
			  <div class="modal fade" id="messagesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				  <div class="modal-dialog modal-dialog-centered" role="document">
					  <div class="modal-content modal-price">
						  <div class="modal-body">
								  <div class="text-center p-t-30">
									  
									  <span class="modal-text">
											  <span class="modal-price-done">{{ msg }}</span>
									  </span>
								  </div>
						  </div>
						<div class="modal-footer d-flex justify-content-center">
						  <button type="button" class="btn btn-secondary text-center" data-dismiss="modal">ОК</button>
						</div>
					  </div>
				  </div>
			  </div>
			  {% endif %}
		  {% endfor %}
	  {% endif %}
{% endblock content %}