<!doctype html>
<html lang="en">
    {% load static %}
  <head>
  	 <title>{% block title %} Главная страница {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/brands.css' %}">
  </head>
	<body>
		<!-- Navbar -->

	<section class="ftco-section">
		<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
            <a class="navbar-brand" href="#">
                <img src="{% static 'images/Vector.svg' %}"  alt="">
              </a>
	    	<form class="searchform order-sm-start order-lg-last">
          <div class="form-group d-flex">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  RU
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">1</a>
                  <a class="dropdown-item" href="#">2</a>
                  <a class="dropdown-item" href="#">3</a>
                </div>
              </div>
          </div>
        </form>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="fa fa-bars"></span> Menu
	      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav m-auto">
	        	<li class="nav-item"><a href="#" class="nav-link">Бренды</a></li>
	        	<li class="nav-item"><a href="#" class="nav-link">Каталог</a></li>
	        	<li class="nav-item"><a href="#" class="nav-link">Партнерство</a></li>
	        	<li class="nav-item"><a href="#" class="nav-link">О компании</a></li>
	          <li class="nav-item"><a href="#" class="nav-link">Пресса</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Контакты</a></li>
              <li class="nav-item active"><a href="#" class="nav-link">Интернет магазин</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
	</section>

     {% block content %}

	<!--Main Section-->

	<div class="section-1">
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="p-1">
						Официальный дистрибьютор и импортер <br> концептуальных косметических брендов
					</p>
					<p class="p-2">
						Культура <br> идеального <br> ухода
					</p>
					<div class="to-magazine">
						<button type="button" class="btn btn-circle btn-xl">Перейти в <br>интернет-магазин</button>
					</div>
				</div>
				<div class="col align-self-end">
					<img src="{% static 'images/Rectangle 233.png' %}" class="image_main" alt="">
				</div>
			</div>
		</div>
	</section>
	<section class="ftco-section ">
		<div class="container">
			<div class="row">
				<div class="col">
				</div>
			</div>
		</div>
	</section>
</div>

<!-- About Us Section -->

	<div class="section-2">
		<section class="ftco-section">
			<div class="container container-blue">
				<div class="row">
					<div class="col">
						</div>
					</div>
				</div>
	</section>
</div>
	<div class="section-3">
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="p-3">
						О НАС
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="p-4">
						надежный <br> бизнес-партнер
					</p>
				</div>
				<div class="col">
					<p class="p-5">
						Компания Beauty Force представляет косметические бренды из разных сегментов: масс-маркет, миддл, премиум и фармацевтический. Мы следим за трендами индустрии и выбираем только исключительные марки с безопасными составами, инновационными разработками и уникальной концепцией. Представительства компании Beauty Force открыты в Корее и Италии, а наши партнеры находятся по всей России.
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="">
						<button type="button" class="btn btn-circle btn-xl">Подробнее</button>
					</div>
				</div>
				<div class="col-1-1" style="padding-right: 10px;">
					<p class="p-6">
						10+
					</p>
					<p class="p-7">
						лет опыта
					</p>
					<p class="p-6">
						25+
					</p>
					<p class="p-7">
						интернет-магазинов
					</p>
				</div>
				<div class="col-1-1">
					<p class="p-6">
						30+
					</p>
					<p class="p-7">
						популярных брендов
					</p>
					<p class="p-6">
						50 000 000+
					</p>
					<p class="p-7">
						покупателей
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col">
				<div class="slider">
				<div class="item">
					<img src="{% static 'images/Rectangle 30.jpg' %}" loading="lazy" alt="prcy" alt="">	
					<p class="p-7-1">
						ПРЕИМУЩЕСТВА
					</p>
					<div class="child">
						<p class="p-4-1">
							Эксклюзивные<br> бренды из Кореи
						</p>
						<p class="p-5-1">
							Компания Beauty Force представляет косметические бренды из <br>
							разных сегментов: масс-маркет, миддл, премиум и фармацевтический.<br>
							Мы следим за трендами индустрии и выбираем только исключительные <br>
							марки с безопасными составами, инновационными разработками и <br>
							уникальной концепцией. <br>
							Представительства компании Beauty Force открыты в Корее и Италии,<br>
							а наши партнеры находятся по всей России.
						</p>
						<button type="button" onclick="minusSlide()" class="btn btn-default btn-circle btn-lg"><i class="fa fa-long-arrow-left"></i></button>
						<button type="button" onclick="plusSlide()" class="btn btn-default btn-circle-2 btn-lg"><i class="fa fa-long-arrow-right"></i></button>
					</div>
				</div>
				<div class="item">
					<img src="{% static 'images/Rectangle 31.jpg' %}" loading="lazy" alt="prcy" alt="" >
					<p class="p-7-1">
						ПРЕИМУЩЕСТВА
					</p>
					<div class="child">
						<p class="p-4-1">
							Прямой импорт<br> в страну продажи
						</p>
						<p class="p-5-1">
							Все импортируемые продукты перевозятся<br>
							согласно законодательству,<br>
							проходят сертификацию и маркировку. <br>
							Благодаря собственной логистике, <br>
							каждое средство бережно упаковывается и <br>
							доставляется с соблюдением всех норм. <br>
						</p>
					<button type="button" onclick="minusSlide()" class="btn btn-default btn-circle btn-lg"><i class="fa fa-long-arrow-left"></i></button>
					<button type="button" onclick="plusSlide()" class="btn btn-default btn-circle-2 btn-lg"><i class="fa fa-long-arrow-right"></i></button>
					</div>
				</div>
				<div class="item">
					<img src="{% static 'images/Rectangle 32.jpg' %}" loading="lazy" alt="prcy" alt="">
					<p class="p-7-1">
						ПРЕИМУЩЕСТВА
					</p>
					<div class="child">
						<p class="p-4-1">
							Cильное<br> бренд-портфолио
						</p>
						<p class="p-5-1">
							Компания Beauty Force представляет косметические бренды из <br>
							разных сегментов: масс-маркет, миддл, премиум и фармацевтический.<br>
							Мы следим за трендами индустрии и выбираем только исключительные  <br>
							марки с безопасными составами, инновационными разработками и <br>
							уникальной концепцией. <br>
							Представительства компании Beauty Force открыты в Корее и Италии,<br>
							а наши партнеры находятся по всей России.
						</p>
					<button type="button" onclick="minusSlide()" class="btn btn-default btn-circle btn-lg"><i class="fa fa-long-arrow-left"></i></button>
					<button type="button" onclick="plusSlide()" class="btn btn-default btn-circle-2 btn-lg"><i class="fa fa-long-arrow-right"></i></button>
				</div>
				</div>
			</div>
		</div>
		</div>
		</div>
	</section>
			</div>

<!-- Brands Section -->

	<div class="section-3">
		<section class="ftco-section section-3">
			<div class="container container-white">
				<div class="row">
					<div class="col">
						</div>
					</div>
				</div>
	</section>
	<section class="ftco-section-white">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="p-3-white">
						БРЕНДЫ
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="ftco-section-white">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="p-4-white">
						сотрудничаем <br> с мировыми брендами
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="ftco-section-white">
		<div class="container">
			<div class="row">
				<div class="col">
					<img src="{% static 'images/Group 1309.png' %}" width="100%" loading="lazy" alt="prcy" alt="">
						<button type="button" class="btn btn-circle-white btn-xl-white">Смотреть все бренды</button>
				</div>
			</div>
		</div>
	</section>
	</div>

<!--Partners Section-->

	<div class="section-4">
		<section class="ftco-section">
			<div class="container container-blue">
				<div class="row">
					<div class="col">
						</div>
					</div>
				</div>
	</section>
		<section class="ftco-section">
			<div class="container ">
				<div class="row">
					<div class="col">
						<p class="p-3">
							ПАРТНЕРЫ
						</p>
					</div>
				</div>
			</div>
		</section>
		<section class="ftco-section">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="p-4">
							развиваем бренды<br> с надежными партнерами
						</p>
						<img src="{% static 'images/Group 1278.png' %}" width="100%" loading="lazy" alt="prcy" alt="">
						<img src="{% static 'images/Group 1279.png' %}" width="100%" loading="lazy" alt="prcy" alt="">
						<button type="button" class="btn btn-circle-blue btn-xl-blue">Смотреть всех партнеров</button>
					</div>
				</div>
			</div>
		</section>
	</div>

<!-- Markiting Section -->

	<div class="section-5">
		<section class="ftco-section">
			<div class="container container-blue">
				<div class="row">
					<div class="col">
						</div>
					</div>
				</div>
	</section>
		<section class="ftco-section">
			<div class="container ">
				<div class="row">
					<div class="col">
						<p class="p-3">
							МАРКЕТИНГ
						</p>
					</div>
				</div>
			</div>
		</section>
		<section class="ftco-section">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="p-4">
							digital-маркетинг
						</p>
					</div>
				</div>
				
				<div class="col d-flex justify-content-end" style="margin-top: 3rem;">
				<div class="card-deck ">
					<div class="card ">
					  <img class="card-img-top" src="{% static 'images/Group 1199.svg' %}" alt="Card image cap">
					  <div class="card-body">
						<h5 class="card-title">SMM</h5>
						<p class="card-text">Работаем со всеми основными соцсетями, создаем концепции, контент (визуальный и текстовый), настраиваем рекламу и привлекаем новых пользователей.</p>
					  </div>
					</div>
					<div class="card">
					  <img class="card-img-top" src="{% static 'images/Ellipse 53.png' %}" alt="Card image cap">
					  <div class="card-body">
						<h5 class="card-title">САЙТЫ</h5>
						<p class="card-text">Создаем стильные и эффективные сайты, лендинги и интернет-магазины, наполняем их контентом и настраиваем рекламу.</p>
					  </div>
					</div>
					<div class="card">
					  <img class="card-img-top" src="{% static 'images/Group 1201.svg' %}" alt="Card image cap">
					  <div class="card-body">
						<h5 class="card-title">PR</h5>
						<p class="card-text">Берем на себя весь спектр PR-поддержек: от разработки стратегии, создания контента, продвижения в СМИ, до работы с блогерами и селебрити.</p>
					  </div>
					</div>
				  </div>
			</div>
			<div class="col d-flex justify-content-end" style="margin-top: 3rem;">
				<div class="card-deck">
					<div class="card">
					  <img class="card-img-top" src="{% static 'images/Ellipse 59.png' %}" alt="Card image cap">
					  <div class="card-body">
						<h5 class="card-title">Digital-сопровождение</h5>
						<p class="card-text">Создание креативной концепции, контент-маркетинг, проведение digital-event, influencer-маркетинг, контекстная реклама активностей</p>
					  </div>
					</div>
					<div class="card">
					  <img class="card-img-top" src="{% static 'images/Ellipse 62.png' %}" alt="Card image cap">
					  <div class="card-body">
						<h5 class="card-title">АНАЛИЗ</h5>
						<p class="card-text">Проводим исследования рынка с учетом конкурентоспособности и изучения трендов для последующего построения успешной стратегии.</p>
					  </div>
					</div>
					<div class="card">
					  <img class="card-img-top" src="{% static 'images/Group 1202.svg' %}" alt="Card image cap">
					  <div class="card-body">
						<h5 class="card-title">SERM</h5>
						<p class="card-text">Создаем благоприятный имидж и управляем репутацией в онлайн. Проводим мониторинг репутации для быстрого реагирования.</p>
					  </div>
					</div>
					<div class="col d-flex justify-content-start">
						<button type="button" class="btn btn-circle btn-xl">подробнее</button>
					  </div>
				  </div>
			</div>
		</div>
	</section>
	</div>

<!-- Video and Social Section-->

	<div class="section-6">
		<section class="ftco-section">
			<div class="container container-blue">
				<div class="row">
					<div class="col">
						</div>
					</div>
				</div>
	</section>
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="p-3">
						ВИДЕО
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="p-4">
						смотрите наши обзоры
					</p>
				</div>
					<button type="button" onclick="minusVideoSlide()" class="btn btn-default btn-circle btn-lg"><i class="fa fa-long-arrow-left"></i></button>
					<button type="button" onclick="minusVideoSlide()" class="btn btn-default btn-circle-2 btn-lg"><i class="fa fa-long-arrow-right"></i></button>
				</div>
			<div class="col d-flex justify-content-end">
				<div class="slider-1">
					<div class="item-1">
						<img src="{% static 'images/Rectangle 14.png' %}" alt="Первый слайд">
						<p class="p-4-2">
						Бьюти бокс "Максимальное увлажнение" уже в <br>продаже на Wildberries.ru
						</p>
					</div>
					<div class="item-1">
						<img src="{% static 'images/Rectangle 14 (2).png' %}" alt="Третий слайд">
						<p class="p-4-2">
						Обзор на Гиалуроновый крем для лица<br> HaruHaru Hyaluronic Cream
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="images-container">
						<img src="{% static 'images/Group 1221.png' %}" alt="Третий слайд">
					</div>
				</div>
				<div class="col">
					<div class="instagram-container">
						<p class="p-3 " style="margin-top: 2rem;">
							INSTAGRAM
						</p>
						<p class="p-2-1">
							больше полезного контента в instagram
						</p>
						<div class="to-magazine">
							<button type="button" class="btn btn-circle btn-xl">перейти в<br> instagram</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	</div>

		<!-- B2B Form -->
	<div class="section-7">
		<section class="ftco-section">
			<div class="container container-blue">
				<div class="row">
					<div class="col">
						</div>
					</div>
				</div>
	</section>
		<section class="ftco-section">
			<div class="container ">
				<div class="row">
					<div class="col">
						<p class="p-3">
							КОНТАКТЫ
						</p>
					</div>
				</div>
			</div>
		</section>
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="p-4">
						Личный b2b-кабинет
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="ftco-section">
		<div class="container">
		  <div class="row">
			  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3">
				  <form id="contact-form" class="form" action="#" method="POST" role="form">
					  <div class="form-group">
						  <label class="form-label" for="name">Телефон</label>
						  <input type="text" class="form-control" id="name" name="name" placeholder="Телефон" tabindex="1" required>
					  </div>
					  <div class="form-group">
						  <label class="form-label" for="email">Контактное лицо</label>
						  <input type="email" class="form-control" id="email" name="email" placeholder="Контактное лицо" tabindex="2" required>
					  </div>
					  <div class="form-group">
						  <label class="form-label" for="subject">Почта</label>
						  <input type="text" class="form-control" id="subject" name="subject" placeholder="Почта" tabindex="3">
					  </div>
					  <div class="form-group">
						  <label class="form-label" for="message">Компания</label>
						  <textarea rows="5" cols="50" name="message" class="form-control" id="message" placeholder="Компания" tabindex="4" required></textarea>
					  </div>
					  <div class="text-center">
						<p class="p-form text-right"> <button type="button" class="btn btn-circle btn-xl">Отправить</button>Нажимая кнопку, вы соглашаетесь<br> <span class="p-form text-right span-form">с политикой конфиденциальности</span></p>
					  </div>
				  </form>
			  </div>
		  </div>
		</div>
	</section>
	</div>

		<!-- Footer -->
<footer class="bg-light text-center text-lg-start footer-10">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
		  <h2 class="footer-heading list-unstyled"><img src="{% static 'images/Vector_footer.svg' %}"  alt=""></h2>
        <ul class="list-unstyled">
			  <li class="li-footer">
				Лидеры мирового рынка косметики Эксклюзивные корейские бренды
			  </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h2 class="footer-heading list-unstyled text-uppercase">меню</h2>
        <ul class="list-unstyled footer-links">
          <li>
            <a href="" class="footer-links">Бренды</a>
          </li>
          <li>
            <a href="" class="footer-links">Каталог</a>
          </li>
          <li>
            <a href="" class="footer-links">Партнерство</a>
          </li>
          <li>
            <a href="" class="footer-links">О компании</a>
          </li>
          <li>
            <a href="" class="footer-links">Пресса</a>
          </li>
          <li>
            <a href="" class="footer-links">Контакты</a>
          </li>
          <li>
            <a href="" class="footer-links">Интернет-магазин</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h2 class="footer-heading list-unstyled text-uppercase">бренды</h2>

        <ul class="list-unstyled footer-links">
          <li>
            <a href="#!" class="footer-links">Wella</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Londa</a>
          </li>
          <li>
            <a href="#!" class="footer-links">OPI</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Swarovski</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Nioxin</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Haruharu</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Nioxin</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h2 class="footer-heading list-unstyled text-uppercase">контакты</h2>

        <ul class="list-unstyled footer-links">
          <li class="">
			  +7 (499) 409-21-80
			115093 Россия, г. Москва,
			ул. Павловская, д. 27, стр. 4
			info@beforce.ru

          </li>
          <li>
			Италия +39 02 3046-2659
			Республика Корея +82 070 4680-5682
          </li>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-5 pt-4 border-top">
	<div class="col-lg-4 col-md-6 mb-4 mb-md-0">
		<p class=" mb-0">Design & development by © BeautyForce™</p>
	</div>
	  <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
		<ul class="">
		  <a href="" class=""><img src="{% static 'images/Group 1024.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1028.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1025.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1026.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1029.svg' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1030.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1031.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1027.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1032.png' %}"  alt=""></a>
		</ul>
	  </div>
		  <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
		  	<p class=" mb-0">Политика конфиденциальности</p>
		  </div>
	</div>
  </div>
</footer>
		{% endblock content %}
	<script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/loader.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/video_slider.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/b2b_form.js' %}"></script>
	</body>
</html>