{% extends  'user_profile.html' %}
{% block title %} 2 {% endblock %}
{% load static %}
{% block content %}
  <div class="container d-flex justify-content-left">

	  <div class="col-md-auto">
		<div class="list-group list-group-flush">
		  <nav
			   id="sidebarMenu"
			   class="collapse d-lg-block sidebar collapse"
			   >
			<div class="position-sticky">
			  <div class="list-group list-group-flush mx-3 mt-4">
				<a
				   href="#"
				   class="list-group-item list-group-item-action py-2 ripple"
				   aria-current="true"
				   >
				  <img src="{% static 'images/home.svg' %}" class="mr-2" alt=""><span>Главная</span>
				</a>
				<a
				   href="#"
				   class="list-group-item list-group-item-action py-2 ripple"
				   >
				 <img src="{% static 'images/Profile.svg' %}" class="mr-2" alt=""><span>Личные данные</span>
				</a>
				<a
				   href="#"
				   class="list-group-item list-group-item-action py-2 ripple active"
				   ><img src="{% static 'images/list_active.svg' %}" class="mr-2" alt=""><span>Продажи</span></a>
				<a
				   href="#"
				   class="list-group-item list-group-item-action py-2 ripple"
				   ><img src="{% static 'images/notifications.svg' %}" class="mr-2" alt=""><span>Уведомления</span></a>
				<a
				   href="#"
				   class="list-group-item list-group-item-action py-2 ripple"
				   >
				  <img src="{% static 'images/Chatbubble.svg' %}" class="mr-2" alt=""><span>Сообщения</span>
				</a>
				<a
				   href="#"
				   class="list-group-item list-group-item-action py-2 ripple margin-top inactive"
				   ><img src="{% static 'images/exit.svg' %}" class="mr-2" alt=""><span>Выйти</span></a
				  >
			  </div>
			</div>
		  </nav>
		</div>
	</div>
	  <div class="col-md-9">
		<div class="list-group list-group-flush">
			<div class="container">
					<div class="row my-5 d-flex justify-content-between">
						<div class="col">
							<span class="welcome">Ваши продажи</span>
						</div>
						<div class="col-md-auto">
							<button type="button" class="btn btn-secondary p-2" data-toggle="modal" data-target="#sell-modal">Новая продажа <span class="ml-4 p-2"><img class="socials" src="{% static 'images/plus.svg' %}"  alt=""></span></button>
						</div>
					</div>
				</div>
			</div>
		<div class="list-group list-group-flush">
			<div class="container">
				<div class="tabs-to-dropdown">
				  <div class="nav-wrapper d-flex justify-content-center border-bottom">
					<ul class="nav nav-pills d-none d-md-flex" id="pills-tab" role="tablist">
					  <li class="nav-item" role="presentation">
						<a class="nav-link active mr-5" id="pills-company-tab" data-toggle="pill" href="#pills-company" role="tab" aria-controls="pills-company" aria-selected="true">Активные</a>
					  </li>
					  <li class="nav-item" role="presentation">
						<a class="nav-link" id="pills-product-tab" data-toggle="pill" href="#pills-news" role="tab" aria-controls="pills-product" aria-selected="false">Завершенные</a>
					  </li>
					</ul>
				  </div>

				  <div class="tab-content mt-4" id="pills-tabContent">
					<div class="tab-pane fade show active" id="pills-company" role="tabpanel" aria-labelledby="pills-company-tab">
					  <div class="container">
							<form class="pb-3">
								<div class="input-group orders-search">
								  <div class="input-group-append">
									<button class="btn" type="button" disabled><img src="{% static 'images/Search.svg' %}" alt=""></button>
								  </div>
								  <input type="text" class="form-control" placeholder="Поиск">
								</div>
							</form>
						<div class="card orders-search mt-3">
								<table class="table">
								  <tbody>
									<tr>
									  <th class="table-code align-middle">41961091-0010</th>
										<td class="table-date align-middle">18:05 <span class="table-date-2">19 июля 2022</span></td>
									  <td class="table-price align-middle">2 шт • 400 гр • 1999 ₽</td>
									  <td class="table-status-agreement align-middle"><span class="alert-warning p-1">На согласовании</span></td>
									</tr>
								  </tbody>
								</table>
						  <div class="card-body">
								<table class="table">
								  <tbody>
									<tr>
									  <th class="align-middle" style="border: none;"><img src="{% static 'images/orders-photo-2.png' %}" class="rounded-3"><img src="{% static 'images/orders-photo.png' %}" class="rounded-3"></th>
									</tr>
								  </tbody>
								</table>
							  <table class="table">
								  <tbody>
									<tr>
									  <th style="border: none;">
								  			<button type="button" class="btn btn-secondary btn-red p-2" data-toggle="modal" data-target="#cancel-modal">Отменить заявку</button>
								  			<a href="#" class="btn btn-secondary p-2" style="border: 1px solid #444648;" download>
												Спецификация
									 			 <span class="ml-3"><img class="socials" src="{% static 'images/download.svg' %}"  alt=""></span>
							  				</a>
									  </th>
										<th style="border: none;">
											<button type="button" class="btn p-2 orders-search btn-secondary justify-content-end" data-toggle="modal" data-target="#edit-modal" style="border: none;"><span class=""><img class="socials" src="{% static 'images/edit.svg' %}"  alt=""></span></button>
										</th>
									</tr>
								  </tbody>
								</table>
						  </div>
						</div>
						<div class="card orders-search mt-3">
								<table class="table">
								  <tbody>
									<tr>
									  <th class="table-code align-middle">41961091-0010</th>
										<td class="table-date align-middle">18:05 <span class="table-date-2">19 июля 2022</span></td>
									  <td class="table-price align-middle">2 шт • 400 гр • 1999 ₽</td>
									  <td class="table-status-agreement align-middle"><span class="alert-success p-1">Одобрено</span></td>
									</tr>
								  </tbody>
								</table>
						  <div class="card-body">
								<table class="table">
								  <tbody>
									<tr>
									  <th class="align-middle" style="border: none;"><img src="{% static 'images/orders-photo-2.png' %}" class="rounded-3"><img src="{% static 'images/orders-photo.png' %}" class="rounded-3"></th>
									</tr>
								  </tbody>
								</table>
							  <table class="table">
								  <tbody>
									<tr>
									  <th style="border: none;">
								  			<button type="button" class="btn btn-secondary btn-red p-2" data-toggle="modal" data-target="#cancel-modal">Отменить заявку</button>
								  			<a href="#" class="btn btn-secondary p-2" style="border: 1px solid #444648;" download>
												Спецификация
									 			 <span class="ml-3"><img class="socials" src="{% static 'images/download.svg' %}"  alt=""></span>
							  				</a>
										  <a type="button" class="btn btn-secondary btn-green p-2">Прикрепить счет  <span class="ml-3"><img class="socials" src="{% static 'images/upload_green.svg' %}"  alt=""></span></a>
									  </th>
										<th style="border: none;">
											<button type="button" class="btn p-2 orders-search btn-secondary justify-content-end" data-toggle="modal" data-target="#edit-modal" style="border: none;"><span class=""><img class="socials" src="{% static 'images/edit.svg' %}"  alt=""></span></button>
										</th>
									</tr>
								  </tbody>
								</table>
						  </div>
						</div>
						<div class="card orders-search mt-3">
								<table class="table">
								  <tbody>
									<tr>
									  <th class="table-code align-middle">41961091-0010</th>
										<td class="table-date align-middle">18:05 <span class="table-date-2">19 июля 2022</span></td>
									  <td class="table-price align-middle">2 шт • 400 гр • 1999 ₽</td>
									  <td class="table-status-agreement align-middle"><span class="alert-danger p-1">Отклонено</span></td>
									</tr>
								  </tbody>
								</table>
						  <div class="card-body">
								<table class="table">
								  <tbody>
									<tr>
									  <th class="align-middle" style="border: none;"><img src="{% static 'images/orders-photo-2.png' %}" class="rounded-3"><img src="{% static 'images/orders-photo.png' %}" class="rounded-3"></th>
									</tr>
								  </tbody>
								</table>
							  <table class="table">
								  <tbody>
									<tr>
									  <th style="border: none;">
								  			<button type="button" class="btn btn-secondary btn-red p-2" data-toggle="modal" data-target="#cancel-modal">Отменить заявку</button>
								  			<a href="#" class="btn btn-secondary p-2" style="border: 1px solid #444648;" download>
												Спецификация
									 			 <span class="ml-3"><img class="socials" src="{% static 'images/download.svg' %}"  alt=""></span>
							  				</a>
									  </th>
										<th style="border: none;">
											<button type="button" class="btn p-2 orders-search btn-secondary justify-content-end" data-toggle="modal" data-target="#edit-modal" style="border: none;"><span class=""><img class="socials" src="{% static 'images/edit.svg' %}"  alt=""></span></button>
										</th>
									</tr>
								  </tbody>
								</table>
						  </div>
						</div>
					  </div>
					</div>


					<div class="tab-pane fade" id="pills-news" role="tabpanel" aria-labelledby="pills-news-tab">
					  <div class="container">
						<form class="pb-3">
							<div class="input-group orders-search">
							  <div class="input-group-append">
								<button class="btn" type="button" disabled><img src="{% static 'images/Search.svg' %}" alt=""></button>
							  </div>
							  <input type="text" class="form-control" placeholder="Поиск">
							</div>
						</form>
							<div class="d-flex justify-content-center mt-3">
								<span class="history-span"> Декабрь 2022 </span>
							</div>
						<div class="card orders-search mt-3">
								<table class="table">
								  <tbody>
									<tr>
									  <th class="table-history align-middle">41961091-0010</th>
										<td class="table-history align-middle">18:05 <span class="table-date-2">19 июля 2022</span></td>
									  <td class="table-history text-right">2 шт • 400 гр • 1999 ₽</td>
										<td class="table-status-agreement align-middle"><span class="p-1 ml-2" style="background: #444648; color: #FFFFFF;">Оплачено</span></td>
									</tr>
								  </tbody>
								</table>
						  <div class="card-body">
								<table class="table">
								  <tbody>
									<tr>
									  <th class="align-middle" style="border: none; opacity: 0.5;"><img src="{% static 'images/orders-photo-2.png' %}" class="rounded-3"><img src="{% static 'images/orders-photo.png' %}" class="rounded-3"></th>
									</tr>
								  </tbody>
								</table>
							  <table class="table">
								  <tbody>
									<tr>
									  <th style="border: none;">
								  			<a href="#" class="btn btn-secondary p-2" style="border: 1px solid #444648;" download>
												Спецификация
									 			 <span class="ml-3"><img class="socials" src="{% static 'images/download.svg' %}"  alt=""></span>
							  				</a>
								  			<a href="#" class="btn btn-secondary p-2" style="border: 1px solid #444648;" download>
												Документ об оплате
									 			 <span class="ml-3"><img class="socials" src="{% static 'images/vector_up_black.svg' %}"  alt=""></span>
							  				</a>
									  </th>
									</tr>
								  </tbody>
								</table>
						  </div>
						</div>
						<div class="card orders-search mt-3">
								<table class="table">
								  <tbody>
									<tr>
									  <th class="table-history align-middle">41961091-0010</th>
										<td class="table-history align-middle">18:05 <span class="table-date-2">19 июля 2022</span></td>
									  <td class="table-history text-right">2 шт • 400 гр • 1999 ₽</td>
										<td class="table-status-agreement align-middle"><span class="p-1 ml-2" style="background: #444648; color: #FFFFFF;">Оплачено</span></td>
									</tr>
								  </tbody>
								</table>
						  <div class="card-body">
								<table class="table">
								  <tbody>
									<tr>
									  <th class="align-middle" style="border: none; opacity: 0.5;"><img src="{% static 'images/orders-photo-2.png' %}" class="rounded-3"><img src="{% static 'images/orders-photo.png' %}" class="rounded-3"></th>
									</tr>
								  </tbody>
								</table>
							  <table class="table">
								  <tbody>
									<tr>
									  <th style="border: none;">
								  			<a href="#" class="btn btn-secondary p-2" style="border: 1px solid #444648;" download>
												Спецификация
									 			 <span class="ml-3"><img class="socials" src="{% static 'images/download.svg' %}"  alt=""></span>
							  				</a>
								  			<a href="#" class="btn btn-secondary p-2" style="border: 1px solid #444648;" download>
												Документ об оплате
									 			 <span class="ml-3"><img class="socials" src="{% static 'images/vector_up_black.svg' %}"  alt=""></span>
							  				</a>
									  </th>
									</tr>
								  </tbody>
								</table>
						  </div>
						</div>
							<div class="d-flex justify-content-center mt-3">
								<span class="history-span"> Январь 2022 </span>
							</div>
						<div class="card orders-search mt-3">
								<table class="table">
								  <tbody>
									<tr>
									  <th class="table-history align-middle">41961091-0010</th>
										<td class="table-history align-middle">18:05 <span class="table-date-2">19 июля 2022</span></td>
									  <td class="table-history text-right">2 шт • 400 гр • 1999 ₽</td>
										<td class="table-status-agreement align-middle"><span class="p-1 ml-2" style="background: #444648; color: #FFFFFF;">Оплачено</span></td>
									</tr>
								  </tbody>
								</table>
						  <div class="card-body">
								<table class="table">
								  <tbody>
									<tr>
									  <th class="align-middle" style="border: none; opacity: 0.5;"><img src="{% static 'images/orders-photo-2.png' %}" class="rounded-3"><img src="{% static 'images/orders-photo.png' %}" class="rounded-3"></th>
									</tr>
								  </tbody>
								</table>
							  <table class="table">
								  <tbody>
									<tr>
									  <th style="border: none;">
								  			<a href="#" class="btn btn-secondary p-2" style="border: 1px solid #444648;" download>
												Спецификация
									 			 <span class="ml-3"><img class="socials" src="{% static 'images/download.svg' %}"  alt=""></span>
							  				</a>
								  			<a href="#" class="btn btn-secondary p-2" style="border: 1px solid #444648;" download>
												Документ об оплате
									 			 <span class="ml-3"><img class="socials" src="{% static 'images/vector_up_black.svg' %}"  alt=""></span>
							  				</a>
									  </th>
									</tr>
								  </tbody>
								</table>
						  </div>
						</div>
						<div class="card orders-search mt-3">
								<table class="table">
								  <tbody>
									<tr>
									  <th class="table-history align-middle">41961091-0010</th>
										<td class="table-history align-middle">18:05 <span class="table-date-2">19 июля 2022</span></td>
									  <td class="table-history text-right">2 шт • 400 гр • 1999 ₽</td>
										<td class="table-status-agreement align-middle"><span class="p-1 ml-2" style="background: #444648; color: #FFFFFF;">Оплачено</span></td>
									</tr>
								  </tbody>
								</table>
						  <div class="card-body">
								<table class="table">
								  <tbody>
									<tr>
									  <th class="align-middle" style="border: none; opacity: 0.5;"><img src="{% static 'images/orders-photo-2.png' %}" class="rounded-3"><img src="{% static 'images/orders-photo.png' %}" class="rounded-3"></th>
									</tr>
								  </tbody>
								</table>
							  <table class="table">
								  <tbody>
									<tr>
									  <th style="border: none;">
								  			<a href="#" class="btn btn-secondary p-2" style="border: 1px solid #444648;" download>
												Спецификация
									 			 <span class="ml-3"><img class="socials" src="{% static 'images/download.svg' %}"  alt=""></span>
							  				</a>
								  			<a href="#" class="btn btn-secondary p-2" style="border: 1px solid #444648;" download>
												Документ об оплате
									 			 <span class="ml-3"><img class="socials" src="{% static 'images/vector_up_black.svg' %}"  alt=""></span>
							  				</a>
									  </th>
									</tr>
								  </tbody>
								</table>
						  </div>
						</div>
					  </div>
					</div>
				  </div>
				  </div>
				</div>
				</div>
			</div>
  </div>
	<div class="modal fade" id="cancel-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img class="socials" src="{% static 'images/close-modal.svg' %}"  alt=""></span></button>
		  </div>
		  <div class="modal-body">
			  <div class="form-group">
				<div class="col d-flex justify-content-center">
				  <img class="socials" src="{% static 'images/question.svg' %}"  alt="">
				</div>
			  </div>
			  <div class="form-group">
				<h2 class="label-text-3" style="font-size: 20px;">Вы уверены, что хотите отменить ваш заказ?</h2>
			  </div>
			  <div class="form-group">
				<div class="col d-flex justify-content-center">
					<button type="button" class="btn btn-secondary btn-register-width p-3" >Нет, не отменять</button>
				  <button type="button" class="btn btn-secondary btn-red btn-register-width p-3" style="margin-left: 1rem;">Да, отменить</button>
				</div>
			  </div>
		  </div>
		</div>
	  </div>
	</div>

	<div class="modal fade" id="sell-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img class="socials" src="{% static 'images/close-modal.svg' %}"  alt=""></span></button>
		  </div>
		  <div class="modal-body">
			  <div class="form-group">
				<div class="col d-flex justify-content-center">
				  <img class="socials" src="{% static 'images/sell.png' %}"  alt="">
				</div>
			  </div>
			  <div class="form-group">
				<h2 class="label-text-3">Новая продажа</h2>
			  </div>
			  <div class="form-group">
				  <label class="label-text-3" style="font-size: 18px;">Шаг 1</label>
			  </div>
			  <div class="form-group">
				  <label class="label-sell">Скачайте и заполните пустую спецификацию</label>
			  </div>
              <div class="form-group">
				<div class="col">
					  <a href="#" class="nav-link" style="border: 1px solid #444648; padding: 1rem;" download>
						<span class="pull-right"><img class="socials" src="{% static 'images/download.svg' %}"  alt=""></span>
						Скачать
					  </a>
				</div>
			  </div>
			  <div class="form-group">
				  <label class="label-text-3" style="font-size: 18px;">Шаг 2</label>
			  </div>
			  <div class="form-group">
				  <label class="label-sell">Загрузите ранее заполненый вами файл и отпривьте на согласование</label>
			  </div>
              <div class="form-group">
				<div class="col d-flex">
				<div class="input-group">
				  <div class="custom-file">
					<input type="file" class="custom-file-input" id="inputGroupFile01"
					  aria-describedby="inputGroupFileAddon01">
					<label class="custom-file-label" for="inputGroupFile01">Загрузить</label>
				  </div>
				</div>
					<button type="button" class="btn btn-primary btn-register-width" style="margin-left: 0.3rem;">Отправить на согласование</button>
				</div>
			  </div>
				<div class="form-group">
				<div class="col">
					  <a href="#" class="nav-link" style="border-bottom: 2px solid #EC5EA2; padding: 1rem;">
						<span class="pull-right"><img class="socials" src="{% static 'images/delete.svg' %}"  alt=""></span>
						1.xlx
					  </a>
				</div>
			  </div>
		  </div>
		</div>
	  </div>
	</div>

	<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img class="socials" src="{% static 'images/close-modal.svg' %}"  alt=""></span></button>
		  </div>
		  <div class="modal-body">
			  <div class="form-group">
				<div class="col d-flex justify-content-center">
				  <img class="socials" src="{% static 'images/clock.svg' %}"  alt="">
				</div>
			  </div>
			  <div class="form-group">
				<h2 class="label-text-3">Редактирование</h2>
			  </div>
			  <div class="form-group">
				  <label class="label-text-3" style="font-size: 18px;">Шаг 1</label>
			  </div>
			  <div class="form-group">
				  <label class="label-sell">Скачатйте и внесите изменения в спецификацию</label>
			  </div>
              <div class="form-group">
				<div class="col">
					  <a href="#" class="nav-link" style="border: 1px solid #444648; padding: 1rem;" download>
						<span class="pull-right"><img class="socials" src="{% static 'images/download.svg' %}"  alt=""></span>
						Скачать
					  </a>
				</div>
			  </div>
			  <div class="form-group">
				  <label class="label-text-3" style="font-size: 18px;">Шаг 2</label>
			  </div>
			  <div class="form-group">
				  <label class="label-sell">Загрузите ранее отредактированный вами файл и отпривьте на согласование</label>
			  </div>
              <div class="form-group">
				<div class="col d-flex">
				<div class="input-group">
				  <div class="custom-file">
					<input type="file" class="custom-file-input" id="inputGroupFile01"
					  aria-describedby="inputGroupFileAddon01">
					<label class="custom-file-label" for="inputGroupFile01">Загрузить</label>
				  </div>
				</div>
					<button type="button" class="btn btn-primary btn-register-width" style="margin-left: 0.3rem;">Отправить на согласование</button>
				</div>
			  </div>
				<div class="form-group">
				<div class="col">
					  <a href="#" class="nav-link" style="border-bottom: 2px solid #EC5EA2; padding: 1rem;">
						<span class="pull-right"><img class="socials" src="{% static 'images/delete.svg' %}"  alt=""></span>
						1.xlx
					  </a>
				</div>
			  </div>
		  </div>
		</div>
	  </div>
	</div>
	<div class="modal fade" id="done-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img class="socials" src="{% static 'images/close-modal.svg' %}"  alt=""></span></button>
		  </div>
		  <div class="modal-body">
			  <div class="form-group">
				<div class="col d-flex justify-content-center">
				  <img class="socials" src="{% static 'images/done.svg' %}"  alt="">
				</div>
			  </div>
			  <div class="form-group">
				<h2 class="label-text-3">Ваша заявка на продажу успешно отредактирована и отправлена</h2>
			  </div>
			  <div class="form-group">
				<p class="text-after-button text-justify" style="margin-top: 1rem;">Вы получите ответ<span class="font-weight-bold" style="color: black;"> в течении 24 часов</span>  с момента отправки.</p>
			  </div>
		  </div>
		</div>
	  </div>
	</div>
{% endblock content %}