{% extends  'home.html' %}
{% block title %} Партнерство {% endblock %}
{% load static %}
{% block content %}

	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="p-partner text-left">
                        Стабильность, честность и инклюзивность – главные ценности нашей компании.
                        Именно поэтому мы выбираем долгосрочные отношения со всеми контрагентами,
                        а также создаем максимально комфортные условия работы и обеспечиваем полное
                        сопровождение и поддержку своим партнерам
					</p>
				</div>
				</div>
        </div>
    </section>
	<section class="ftco-section">
			<div class="container container-blue">
				<div class="row">
					<div class="col">
						</div>
					</div>
				</div>
	</section>
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="p-3-partner">
						АССОРТИМЕНТ
					</p>
				</div>
				<div class="col">
					<p class="p-3-range">
						Эксклюзивный импортер корейских брендов
					</p>
				</div>
				<div class="col">
					<p class="p-3-range">
						Официальный партнер Coty Inc.
					</p>
				</div>
				<div class="col">
					<p class="p-3-range">
						Официальный дилер компании Swarovski
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="ftco-section">
			<div class="container">
				<div class="row">
					<div class="col">
						<img src="{% static 'images/partnership/Rectangle 170.jpg' %}" class="" alt="" style="width:100%;">
					</div>
				</div>
			</div>
	</section>
	<section class="ftco-section">
			<div class="container container-blue">
				<div class="row">
					<div class="col">
						</div>
					</div>
				</div>
	</section>
	<section class="ftco-section">
		<div class="container catalog">
			<div class="row">
				<div class="col text-center ">
					<p class="p-4">
						смотреть бренды в каталоге
					</p>
					<button type="button" class="btn btn-circle btn-xl">открыть каталог</button>
				</div>
			</div>
		</div>
	</section>
	<section class="ftco-section">
			<div class="container container-blue">
				<div class="row">
					<div class="col">
						</div>
					</div>
				</div>
	</section>
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="p-4">
						магазины
					</p>
					<div class="container" style="margin-top: 3rem;">
					<div class="row">
					  <div class="col-sm-6">
						<div class="card">
						  <div class="row no-gutters">
							<div class="col-md-4">
							  <img src="{% static 'images/partnership/Group 1765.png' %}" alt="..." style="width: 100%;">
							</div>
							<div class="col-md-8">
							  <div class="card-body-partner">
								<h5 class="card-title-partner">8 M</h5>
								<p class="card-text-partner">посетителей в сутки</p>
								<h5 class="card-title-partner">940 k</h5>
								<p class="card-text-partner">заказов в день</p>
							  </div>
							</div>
						  </div>
						</div>
						  </div>
						  <div class="col-sm-6">
						<div class="card">
						  <div class="row no-gutters">
							<div class="col-md-4">
							  <img src="{% static 'images/partnership/Group 1764.png' %}" alt="..." style="width: 100%;">
							</div>
							<div class="col-md-8">
							  <div class="card-body-partner">
								<h5 class="card-title-partner">30 m</h5>
								<p class="card-text-partner">покупателей за год</p>
								<h5 class="card-title-partner">180 k</h5>
								<p class="card-text-partner">заказов в день</p>
							  </div>
							</div>
						  </div>
						</div>
					  </div>
					</div>
					<div class="row" style="margin-top: 2rem;">
					  <div class="col-sm-6">
						<div class="card">
						  <div class="row no-gutters">
							<div class="col-md-4">
							  <img src="{% static 'images/partnership/Group 1766.png' %}" alt="..." style="width: 100%;">
							</div>
							<div class="col-md-8">
							  <div class="card-body-partner">
								<h5 class="card-title-partner">4 b</h5>
								<p class="card-text-partner">оборот в месяц</p>
								<h5 class="card-title-partner">4,5 M</h5>
								<p class="card-text-partner">посетителей в день</p>
							  </div>
							</div>
						  </div>
						</div>
						  </div>
						  <div class="col-sm-6">
						<div class="card">
						  <div class="row no-gutters">
							<div class="col-md-4">
							  <img src="{% static 'images/partnership/Group 1762.png' %}" alt="..." style="width: 100%;">
							</div>
							<div class="col-md-8">
							  <div class="card-body-partner">
								<h5 class="card-title-partner">16 m</h5>
								<p class="card-text-partner">пользователей в месяц</p>
								<h5 class="card-title-partner">17 k</h5>
								<p class="card-text-partner">пунктов выдачи заказов</p>
							  </div>
							</div>
						  </div>
						</div>
					  </div>
					</div>
					<div class="row" style="margin-top: 2rem;">
					  <div class="col-sm-6">
						<div class="card">
						  <div class="row no-gutters">
							<div class="col-md-4">
							  <img src="{% static 'images/partnership/Group 1767.png' %}" alt="..." style="width: 100%;">
							</div>
							<div class="col-md-8">
							  <div class="card-body-partner">
								<h5 class="card-title-partner">1b+ $</h5>
								<p class="card-text-partner">оборот компании</p>
								<h5 class="card-title-partner">1 k</h5>
								<p class="card-text-partner">магазинов по России</p>
							  </div>
							</div>
						  </div>
						</div>
						  </div>
						  <div class="col-sm-6">
						<div class="card">
						  <div class="row no-gutters">
							<div class="col-md-4">
							  <img src="{% static 'images/partnership/Group 1763.png' %}" alt="..." style="width: 100%;">
							</div>
							<div class="col-md-8">
							  <div class="card-body-partner">
								<h5 class="card-title-partner">170 k</h5>
								<p class="card-text-partner">заказов в день</p>
								<h5 class="card-title-partner">70</h5>
								<p class="card-text-partner">региональных центров доставки</p>
							  </div>
							</div>
						  </div>
						</div>
					  </div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="ftco-section">
			<div class="container">
				<div class="row">
					<div class="col">
					<p class="p-4">
						мы представлены
					</p>
					</div>
					<img src="{% static 'images/partnership/Group 1713.png' %}" class="" alt="" style="width:100%;">
				</div>
			</div>
	</section>
	<section class="ftco-section section-3">
		<div class="container container-white">
			<div class="row">
				<div class="col">
					</div>
				</div>
			</div>
	</section>
		<section class="ftco-section-white">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="p-4-white">
						выгодные условия<br> ПАРТНЕРАМ
					</p>

				<div class="col d-flex justify-content-end" style="margin-top: 3rem;">
				<div class="card-deck card-deck-partner">
					<div class="card card-white">
					  <img class="card-img-top-partner" src="{% static 'images/partnership/Group 1451.png' %}" alt="Card image cap">
					  <div class="card-body">
						<h5 class="card-title-partner-white">Соответствие товара</h5>
						<p class="card-text-partner-white">– Вся продукция сертифицирована</p>
						<p class="card-text-partner-white">– Срок годности не менее 50% от общего срока годности</p>
						<p class="card-text-partner-white">– Все стикеры соответствуют требованиям законодательства</p>
						<p class="card-text-partner-white">– Высокий уровень сервиса, четкий отлаженный механизм по работе с клиентами</p>
					  </div>
						<div class="col d-flex justify-content-start">
							<button type="button" class="btn btn-circle-partner btn-xl-partner">обсудить сотрудничетсво</button>
					  	</div>
					</div>
					<div class="card card-white">
					  <img class="card-img-top-partner" src="{% static 'images/partnership/Group 1417.svg' %}" alt="Card image cap">
					  <div class="card-body">
						<h5 class="card-title-partner-white">цены и доставка</h5>
						<p class="card-text-partner-white">– Бесплатная доставка заказов от 100 000 ₽</p>
						<p class="card-text-partner-white">– Отгружаем заказ в течении 3-х к/дней</p>
						<p class="card-text-partner-white">– Выгодная наценка</p>
						<p class="card-text-partner-white">– Цены включают НДС</p>
						<p class="card-text-partner-white">– Ретро-бонус за объем продаж</p>
					  </div>
					</div>
					<div class="card card-white">
					  <img class="card-img-top-partner" src="{% static 'images/partnership/Group 1453.svg' %}" alt="Card image cap">
					  <div class="card-body">
						<h5 class="card-title-partner-white">акции</h5>
						<p class="card-text-partner-white">– Регулируем и контролируем ценовую политику в каждом отдельно взятом канале сбыта</p>
						<p class="card-text-partner-white">– Регулярные скидки и промо</p>
						<p class="card-text-partner-white">– Мотивация персонала магазинов и других точек продаж</p>
					  </div>
					</div>
				  </div>
			</div>
		</div>
			</div>
		</div>
	</section>
	<section class="ftco-section" style="margin-top: 2rem;">
			<div class="container container-blue">
				<div class="row">
					<div class="col">
						</div>
					</div>
				</div>
	</section>
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="p-3">
						УСЛУГИ
					</p>
					<table class="table table-partner">
					  <tbody>
						<tr>
						  <th class="th-partner" scope="row">01</th>
						  <td class="td-partner">маркетинг</td>
						  <td class="td-partner-2">Наша команда создает маркетинговую стратегию, которая включает в себя анализ конкурентов, взаимодействие со СМИ, блоггерами, продвижение в социальных сетях, настройка SEO и контекстной рекламы. </td>
						</tr>
						<tr>
						  <th class="th-partner" scope="row">02</th>
						  <td class="td-partner">вэд</td>
						  <td class="td-partner-2">Наша команда полностью отвечает за импорт брендов: мы напрямую заключаем договоры с контрагентами, работаем только с проверенными транспортными компаниями, регистрируем импортируемую продукцию, проходим все таможенные процессы.</td>
						</tr>
						<tr>
						  <th class="th-partner" scope="row">03</th>
						  <td class="td-partner">Сертификация</td>
						  <td class="td-partner-2">Все бренды импортируются согласно законодательству Российской Федерации и проходят тщательный этап сертификации и маркировки.</td>
						</tr>
						<tr>
						  <th class="th-partner" scope="row">04</th>
						  <td class="td-partner">позиционирование бренда</td>
						  <td class="td-partner-2">Для каждого бренда мы определяем целевую аудиторию, подбираем концепцию позиционирования, создаем стратегии и анализируем рекламные и pr-кампании, которые будут последовательны и планомерны. </td>
						</tr>
						<tr>
						  <th class="th-partner" scope="row">05</th>
						  <td class="td-partner">Хранение и обработка товаров</td>
						  <td class="td-partner-2">Одно из наших преимуществ - наличие собственного складского помещения, где мы бережно храним товар с соблюдением температурных режимов, а также оказываем предпродажную подготовку. </td>
						</tr>
						<tr>
						  <th class="th-partner" scope="row">06</th>
						  <td class="td-partner">Авторизация в маркетплейсах</td>
						  <td class="td-partner-2">Наши менеджеры ежедневно работают с самыми большими маркетплейсами России. Мы знаем все о том, как создать свою витрину на всех платформах, какие технические требования к товарам и информационным материалам. </td>
						</tr>
						<tr>
						  <th class="th-partner" scope="row">07</th>
						  <td class="td-partner">Юридическая поддержка</td>
						  <td class="td-partner-2">В нашей команде есть профессиональные юристы, которые полностью обеспечивают и подготавливают все необходимые документы для импорта и дистрибьюции брендов. </td>
						</tr>
					  </tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
	<section class="ftco-section">
			<div class="container container-blue">
				<div class="row">
					<div class="col">
						</div>
					</div>
				</div>
	</section>
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="p-4">
						Сотрудничаем
					</p>
					<img src="{% static 'images/partnership/Group 1376.png' %}" class="" alt="" style="width:100%; margin-top: 3rem;">
				</div>
			</div>
		</div>
	</section>
		<section class="ftco-section">
			<div class="container container-blue">
				<div class="row">
					<div class="col">
						</div>
					</div>
				</div>
	</section>
		<section class="ftco-section">
			<div class="container ">
				<div class="row">
					<div class="col">
						<p class="p-3">
							КОНТАКТЫ
						</p>
					</div>
				</div>
			</div>
		</section>
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="p-4">
						сделаем первый шаг<br>к сотрудничеству
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="ftco-section">
		<div class="container">
		  <div class="row">
			  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3">
				  <form id="contact-form" class="form" action="#" method="POST" role="form">
					  <div class="form-group">
						  <label class="form-label" for="name">Телефон</label>
						  <input type="text" class="form-control" id="name" name="name" placeholder="Телефон" tabindex="1" required>
					  </div>
					  <div class="form-group">
						  <label class="form-label" for="email">Контактное лицо</label>
						  <input type="email" class="form-control" id="email" name="email" placeholder="Контактное лицо" tabindex="2" required>
					  </div>
					  <div class="form-group">
						  <label class="form-label" for="subject">Почта</label>
						  <input type="text" class="form-control" id="subject" name="subject" placeholder="Почта" tabindex="3">
					  </div>
					  <div class="form-group">
						  <label class="form-label" for="message">Компания</label>
						  <textarea rows="5" cols="50" name="message" class="form-control" id="message" placeholder="Компания" tabindex="4" required></textarea>
					  </div>
					  <div class="text-center">
						<p class="p-form text-right"> <button type="button" class="btn btn-circle btn-xl">Отправить</button>Нажимая кнопку, вы соглашаетесь<br> <span class="p-form text-right span-form">с политикой конфиденциальности</span></p>
					  </div>
				  </form>
			  </div>
				<div class="info-catalog">
					<p class="catalog-telephone">
						+7 (499) 409-21-80 <br> <p class="catalog-mail">info@beforce.ru
					</p>
					<p class="catalog-mail">
						Москва, ул. Павловская, д. 27, стр. 4
					</p>
					<p class="">
						Офис <br> <p class="catalog-mail">Пн - Пт 10:00 - 18:00
					</p>
					<p class="">
						Склад <br> <p class="catalog-mail">Пн - Пт 10:00 - 20:00
					</p>
				</div>
		  </div>
		</div>
	</section>
<footer class="bg-light text-center text-lg-start footer-10">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="margin-top: 3rem;">
		  <h2 class="footer-heading list-unstyled"><img src="{% static 'images/Vector_footer.svg' %}"  alt=""></h2>
        <ul class="list-unstyled">
			  <li class="li-footer">
				Лидеры мирового рынка косметики Эксклюзивные корейские бренды
			  </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="margin-top: 3rem;">
        <h2 class="footer-heading list-unstyled text-uppercase">меню</h2>
        <ul class="list-unstyled footer-links">
          <li>
            <a href="" class="footer-links">Бренды</a>
          </li>
          <li>
            <a href="" class="footer-links">Каталог</a>
          </li>
          <li>
            <a href="" class="footer-links">Партнерство</a>
          </li>
          <li>
            <a href="" class="footer-links">О компании</a>
          </li>
          <li>
            <a href="" class="footer-links">Пресса</a>
          </li>
          <li>
            <a href="" class="footer-links">Контакты</a>
          </li>
          <li>
            <a href="" class="footer-links">Интернет-магазин</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="margin-top: 3rem;">
        <h2 class="footer-heading list-unstyled text-uppercase">бренды</h2>

        <ul class="list-unstyled footer-links">
          <li>
            <a href="#!" class="footer-links">Wella</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Londa</a>
          </li>
          <li>
            <a href="#!" class="footer-links">OPI</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Swarovski</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Nioxin</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Haruharu</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Nioxin</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="margin-top: 3rem;">
        <h2 class="footer-heading list-unstyled text-uppercase">контакты</h2>

        <ul class="list-unstyled footer-links">
          <li class="">
			  +7 (499) 409-21-80
			115093 Россия, г. Москва,
			ул. Павловская, д. 27, стр. 4
			info@beforce.ru

          </li>
          <li>
			Италия +39 02 3046-2659
			</li>
			<li>
			Республика Корея +82 070 4680-5682
          </li>
		</ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-5 pt-4 border-top">
	<div class="col-lg-4 col-md-6 mb-4 mb-md-0">
		<p class="mb-0 copyright">Design & development by © BeautyForce™</p>
	</div>
	  <div class="">
		<ul class="">
		  <a href="" class=""><img src="{% static 'images/Group 1024.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1028.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1025.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1026.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1029.svg' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1030.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1031.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1027.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1032.png' %}"  alt=""></a>
		</ul>
	  </div>
		  <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
		  	<p class="copyright-1 mb-0">Политика конфиденциальности</p>
		  </div>
	</div>
  </div>
</footer>


{% endblock content %}