{% extends  'home.html' %}
{% block title %} Пресса {% endblock %}
{% load static %}
{% block content %}
	<section class="ftco-section">
		<div class="container" style="margin-top: 3rem;">
			<div class="row">
				<div class="col">
					<p class="p-4">
						ПРЕССА
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col-1">
				<div class="brands-href">
					<p><a href="#2020" class="">
						2020
					</a></p>
				</div>
				</div>
				<div class="col-1">
				<div class="brands-href">
					<p><a href="#2021" class="">
						2021
					</a></p>
				</div>
			</div>
			</div>
		</div>
	</section>
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="p-4-press">
						Февраль 2021
					</p>
					<div class="row">
					  <div class="col-sm-6">
						<div class="card card-border">
						  <div class="card-body">
							<h5 class="card-title"><img src="{% static 'images/press/logo_content_7days 2.png' %}" class="" alt=""></h5>
							<H5 class="card-title">Гиалуроновая кислота в косметике: поможет ли она разгладить все морщины? - 7Дней.ру</H5>
						  </div>
						  <img src="{% static 'images/press/Rectangle 48.jpg' %}" class="card-img-bottom" alt="...">
						</div>
					  </div>
					  <div class="col-sm-6">
						<div class="card card-border">
						  <div class="card-body">
							<h5 class="card-title"><img src="{% static 'images/press/logo_content_7days 2.png' %}" class="" alt=""></h5>
							<h5 class="card-title">Скинимализм: новый тренд по уходу за кожей от блогеров, который поддержали косметологи</h5>
						  </div>
						  <img src="{% static 'images/press/Rectangle 48_1.jpg' %}" class="card-img-bottom" alt="...">
						</div>
					  </div>
					</div>
					<div class="row">
					  <div class="col-sm-6">
						<div class="card card-border">
						  <div class="card-body">
							<h5 class="card-title"><img src="{% static 'images/press/Vector.png' %}" class="" alt=""></h5>
							<H5 class="card-title">КРЕМЫ ДЛЯ ВЫРАВНИВАНИЯ ТОНА ЛИЦА: ЧЕМ ОТЛИЧАЮТСЯ, КАКИЕ ПРОБЛЕМЫ РЕШАЮТ, ЧТО КУПИТЬ</H5>
							  <p class="card-text">
								  Он словно бодрящий медово-чайный напиток для твоего лица
								  (в его составе есть зеленый чай и мед). Отлично восстанавливает кожу,
								  возвращает ей упругость и борется с мелкими воспалениями.
							  </p>
						  </div>
						  <img src="{% static 'images/press/Rectangle 48_2.jpg' %}" class="card-img-bottom" alt="...">
						</div>
					  </div>
					</div>
				</div>
		</div>
		</div>
	</section>
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="p-4-press">
						Январь 2021
					</p>
					<div class="row">
					  <div class="col-sm-6">
						<div class="card card-border">
						  <div class="card-body">
							<h5 class="card-title"><img src="{% static 'images/press/Vector_1.png' %}" class="" alt=""></h5>
							<H5 class="card-title">Гель, мусс, пенка и пэтчи:<br> самые бережные средства для очищения лица</H5>
						  </div>
						  <img src="{% static 'images/press/Rectangle 48_3.jpg' %}" class="card-img-bottom" alt="...">
						</div>
					  </div>
					  <div class="col-sm-6">
						<div class="card card-border">
						  <div class="card-body">
							<h5 class="card-title"><img src="{% static 'images/press/Скорая помощь_ топ средств для обветренной кожи-3 1.png' %}" class="" alt=""></h5>
							<h5 class="card-title">Чистый витамин С, жидкая пудра, эффект кожи, как у младенца: что нового в сфере красоты</h5>
						  </div>
						  <img src="{% static 'images/press/Rectangle 48_4.jpg' %}" class="card-img-bottom" alt="...">
						</div>
					  </div>
					</div>
					<div class="row">
					  <div class="col-sm-6">
						<div class="card card-border">
						  <div class="card-body">
							<h5 class="card-title-2"><img src="{% static 'images/press/Vector_3.png' %}" class="" alt=""> леди</h5>
							<H5 class="card-title">С чем носить худи и объемное теплое платье: 3 комфортных зимних образа</H5>
						  </div>
						  <img src="{% static 'images/press/Rectangle 48_5.jpg' %}" class="card-img-bottom" alt="...">
						</div>
					  </div>
					</div>
				</div>
		</div>
		</div>
	</section>
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="p-4-press">
						Декабрь 2020
					</p>
					<div class="row">
					  <div class="col-sm-6">
						<div class="card card-border">
						  <div class="card-body">
							<h5 class="card-title"><img src="{% static 'images/press/Logo 1.png' %}" class="" alt=""></h5>
							<H5 class="card-title">Ситуация SOS: какие маски для лица помогут преобразить кожу к празднику</H5>
						  </div>
						  <img src="{% static 'images/press/Rectangle 48_6.jpg' %}" class="card-img-bottom" alt="...">
						</div>
					  </div>
					  <div class="col-sm-6">
						<div class="card card-border">
						  <div class="card-body">
							<h5 class="card-title-2"><img src="{% static 'images/press/Vector_3.png' %}" class="" alt=""> леди</h5>
							<h5 class="card-title">Что подарить на Новый год: 50 вариантов для самых модных</h5>
						  </div>
						  <img src="{% static 'images/press/Rectangle 48_7.jpg' %}" class="card-img-bottom" alt="...">
						</div>
					  </div>
					</div>
					<div class="row">
					  <div class="col-sm-6">
						<div class="card card-border">
						  <div class="card-body">
							<h5 class="card-title"><img src="{% static 'images/press/М О С К В И Ч.png' %}" class="" alt=""></h5>
							<H5 class="card-title">6 косметических марок, приехавших в Москву в 2020-м</H5>
							  <p class="card-text">
									Haruharu Wonder строит составы своих средств вокруг двух ключевых ингредиентов:
								  в линии Original это ферментированный экстракт ягод маки, а в Black Rice —
								  экстракт черного риса, тоже ферментированный. Оба компонента богаты антиоксидантами,
								  которые редко бывают некстати в условиях экологии большого города.
							  </p>
						  </div>
						  <img src="{% static 'images/press/Rectangle 48_8.jpg' %}" class="card-img-bottom" alt="...">
						</div>
					  </div>
					  <div class="col-sm-6">
						<div class="card card-border">
						  <div class="card-body">
							<h5 class="card-title-2"><img src="{% static 'images/press/image 5.png' %}" class="" alt=""></h5>
							<H5 class="card-title">Какие бренды пришли в Россию в<br> 2020 году</H5>
							  <p class="card-text">
									Корейская марка Haruharu создает безопасные и эффективные продукты,
								  используя натуральные ингредиенты — каждое средство минимум на 95% состоит
								  из природных компонентов. Среди них можно найти зеленый чай с медом, ягоды маки
								  и лошадиный жир. Также принципиальным отличием бренда является использование молочнокислых
								  бактерий.
							  </p>
						  </div>
						  <img src="{% static 'images/press/Rectangle 48_9.jpg' %}" class="card-img-bottom" alt="...">
						</div>
					  </div>
					</div>
					<div class="row">
					  <div class="col-sm-6">
						<div class="card card-border">
						  <div class="card-body">
							<h5 class="card-title"><img src="{% static 'images/press/Group Copy 2-0 1.png' %}" class="" alt=""></h5>
							<H5 class="card-title">Что подарить на Новый год? Модные вещи, напоминающие о путешествиях</H5>
						  </div>
						  <img src="{% static 'images/press/Rectangle 48_10.jpg' %}" class="card-img-bottom" alt="...">
						</div>
					  </div>
					  <div class="col-sm-6">
						<div class="card card-border">
						  <div class="card-body">
							<h5 class="card-title-2"><img src="{% static 'images/press/Vector_4.png' %}" class="" alt="">.</h5>
							<H5 class="card-title">Итоги года — 2020: новые бьюти-марки на российском рынке</H5>
						  </div>
						  <img src="{% static 'images/press/Rectangle 48_11.jpg' %}" class="card-img-bottom" alt="...">
						</div>
					  </div>
					</div>
					<div class="row">
					  <div class="col-sm-6">
						<div class="card card-border">
						  <div class="card-body">
							<h5 class="card-title-2"><img src="{% static 'images/press/Logo 1.png' %}" class="" alt=""></h5>
							<H5 class="card-title">От трехсот рублей: 40 бюджетных бьюти-подарков для женщин на Новый год</H5>
							  <p class="card-text">
									А вот тех, кто предпочитает корейскую уходовую косметику, можно порадовать увлажняющей эмульсией с алоэ от CURE
							  </p>
						  </div>
						  <img src="{% static 'images/press/Rectangle 48_12.jpg' %}" class="card-img-bottom" alt="...">
						</div>
					  </div>
					</div>
				</div>
		</div>
		</div>
	</section>

	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="p-4-press">
						ноябрь 2020
					</p>
					<div class="row">
					  <div class="col-sm-6">
						<div class="card card-border">
						  <div class="card-body">
							<h5 class="card-title"><img src="{% static 'images/press/Vector_5.png' %}" class="" alt=""></h5>
							<H5 class="card-title">Прыщи под маской: почему пандемия — не повод для проблем с кожей</H5>
						  </div>
						  <img src="{% static 'images/press/Rectangle 48_14.jpg' %}" class="card-img-bottom" alt="...">
						</div>
					  </div>
					  <div class="col-sm-6">
						<div class="card card-border">
						  <div class="card-body">
							<h5 class="card-title-2"><img src="{% static 'images/press/logo_content_7days 2.png' %}" class="" alt=""></h5>
							<h5 class="card-title">Нужен ли нам ночной крем или это напрасная трата денег</h5>
						  </div>
						  <img src="{% static 'images/press/Rectangle 48_15.jpg' %}" class="card-img-bottom" alt="...">
						</div>
					  </div>
					</div>
					<div class="row">
					  <div class="col-sm-6">
						<div class="card card-border">
						  <div class="card-body">
							<h5 class="card-title"><img src="{% static 'images/press/Vector.png' %}" class="" alt=""></h5>
							<H5 class="card-title">F x<br> ARNYPRAHT</H5>
						  </div>
						  <img src="{% static 'images/press/Rectangle 48_16.jpg' %}" class="card-img-bottom" alt="...">
						</div>
					  </div>
					  <div class="col-sm-6">
						<div class="card card-border">
						  <div class="card-body">
							<h5 class="card-title-2"><img src="{% static 'images/press/Group Copy 2-0 1.png' %}" class="" alt=""></h5>
							<H5 class="card-title">Для чего нужны праймеры, мисты, тоники, лосьоны и мицеллярная вода</H5>
						  </div>
						  <img src="{% static 'images/press/Rectangle 48_17.jpg' %}" class="card-img-bottom" alt="...">
						</div>
					  </div>
					</div>
					<div class="row">
					  <div class="col-sm-6">
						<div class="card card-border">
						  <div class="card-body">
							<h5 class="card-title"><img src="{% static 'images/press/Vector_6.png' %}" class="" alt=""></h5>
							<H5 class="card-title">Скорая помощь: топ средств для обветренной кожи</H5>
							  <p class="card-text">
									Когда кожа обезвоженная, обветренная, чувствительная,
								  нарушается ее защитный липидный барьер. А значит, ей нужна защита –
								  средства, которые помогут успокоить, восстановить и предотвратить новые повреждения.
							  </p>
						  </div>
						  <img src="{% static 'images/press/Rectangle 48_18.jpg' %}" class="card-img-bottom" alt="...">
						</div>
					  </div>
					  <div class="col-sm-6">
						<div class="card card-border">
						  <div class="card-body">
							<h5 class="card-title-2"><img src="{% static 'images/press/Vector_6.png' %}" class="" alt=""></h5>
							<H5 class="card-title">Топ бьюти-продуктов, которые пригодятся зимой</H5>
							  <p class="card-text">
									Он словно бодрящий медово-чайный напиток для твоего лица
								  (в его составе есть зеленый чай и мед). Отлично восстанавливает кожу,
								  возвращает ей упругость и борется с мелкими воспалениями.
							  </p>
						  </div>
						  <img src="{% static 'images/press/Rectangle 48_19.jpg' %}" class="card-img-bottom" alt="...">
						</div>
					  </div>
					</div>
				</div>
		</div>
		</div>
	</section>

	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="p-4-press">
						ОКТЯБРЬ 2020
					</p>
					<div class="row">
					  <div class="col-sm-6">
						<div class="card card-border">
						  <div class="card-body">
							<h5 class="card-title"><img src="{% static 'images/press/logo_content_7days 2.png' %}" class="" alt=""></h5>
							<H5 class="card-title">Патчи или крем для глаз: что эффективнее</H5>
							  <p class="card-text">
								Патчи для носогубных складок Foreverskin
							  </p>
						  </div>
						  <img src="{% static 'images/press/Rectangle 48_20.jpg' %}" class="card-img-bottom" alt="...">
						</div>
					  </div>
					  <div class="col-sm-6">
						<div class="card card-border">
						  <div class="card-body">
							<h5 class="card-title-2"><img src="{% static 'images/press/vector_7.png' %}" class="" alt=""></h5>
							<h5 class="card-title">Плотная порция ухода: 35 питательных кремов, масел и сывороток на холодный сезон</h5>
							  <p class="card-text">
								Ягоды маки – мощнейший антиоксидант, также стимулирующий обменные процессы.
							  </p>
						  </div>
						  <img src="{% static 'images/press/Rectangle 48_21.jpg' %}" class="card-img-bottom" alt="...">
						</div>
					  </div>
					</div>
					<div class="row">
					  <div class="col-sm-6">
						<div class="card card-border">
						  <div class="card-body">
							<h5 class="card-title"><img src="{% static 'images/press/web_logo 2.png' %}" class="" alt=""></h5>
							<H5 class="card-title">Добро пожаловать: новый бренд на российском рынке – Haruharu Wonder</H5>
							  <p class="card-text">
									Рассказываем о новом корейском бренде по уходу за кожей лица, который создает средства для фундаментального бьюти-ритуала.
							  </p>
						  </div>
						  <img src="{% static 'images/press/Rectangle 48_22.jpg' %}" class="card-img-bottom" alt="...">
						</div>
					  </div>
					  <div class="col-sm-6">
						<div class="card card-border">
						  <div class="card-body">
							<h5 class="card-title-2"><img src="{% static 'images/press/image 5.png' %}" class="" alt=""></h5>
							<H5 class="card-title">19 бьюти-новинок месяца</H5>
							  <p class="card-text">
									Корейский бренд косметики в стильных упаковках
								  (чего стоят овалы с сыворотками) теперь появился в России.
								  Обратите внимание на средства для питания кожи.
							  </p>
						  </div>
						  <img src="{% static 'images/press/Rectangle 48_23.jpg' %}" class="card-img-bottom" alt="...">
						</div>
					  </div>
					</div>
					<div class="row">
					  <div class="col-sm-6">
						<div class="card card-border">
						  <div class="card-body">
							<h5 class="card-title"><img src="{% static 'images/press/Vector.png' %}" class="" alt=""></h5>
							<H5 class="card-title">КОРЕЙСКАЯ КОСМЕТИКА: НИЧТО НЕ ЗАБЫТО</H5>
							  <p class="card-text">
									Haruharu — хорошая штука для увлажнения.
								  Внутри — экстракт зеленого чая и мед, в симбиозе они помогают восстановить кожу.
								  По текстуре крем скорее похож на гель, быстро впитывается и не оставляет после себя
								  неприятной пленки.
							  </p>
						  </div>
						  <img src="{% static 'images/press/Rectangle 48_24.jpg' %}" class="card-img-bottom" alt="...">
						</div>
					  </div>
					</div>
				</div>
		</div>
		</div>
	</section>

	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="p-4-press">
						СЕНТЯБРЬ 2020
					</p>
					<div class="row">
					  <div class="col-sm-6">
						<div class="card card-border">
						  <div class="card-body">
							<h5 class="card-title"><img src="{% static 'images/press/Vector.png' %}" class="" alt=""></h5>
							<H5 class="card-title">ЛЕПИМ И СМОТРИМ: КАКИЕ ПАТЧИ ПОМОГАЮТ ПРИЙТИ В СЕБЯ ПОСЛЕ СЕРИАЛЬНЫХ ЗАПОЕВ</H5>
							  <p class="card-text">
								Когда поняла, что на часах уже за два ночи, а остановиться вряд ли получится,
								  решила предпринять меры. Ими стала ночная глиттерная маска Dr. Gloderm.
								  Хорошее лекало: до этого ни разу не пользовалась подобными средствами,
								  так что на 15 минут почувствовала себя супергероиней. Эффект позитивный:
								  кожа подтянулась, зона вокруг глаз увлажнилась.
							  </p>
						  </div>
						  <img src="{% static 'images/press/Rectangle 48_26.jpg' %}" class="card-img-bottom" alt="...">
						</div>
					  </div>
					  <div class="col-sm-6">
						<div class="card card-border">
						  <div class="card-body">
							<h5 class="card-title-2"><img src="{% static 'images/press/vector_8.png' %}" class="" alt=""></h5>
							<h5 class="card-title">Eco-ELLE: +1 бренд корейской косметики с очень крутым дизайном</h5>
							  <p class="card-text">
								Поклонники k-beauty, трепещите: в России появился новый корейский бренд органической косметики с чудным, но смысловым названием Haruharu Wonder.
							  </p>
						  </div>
						  <img src="{% static 'images/press/Rectangle 48_25.png' %}" class="card-img-bottom" alt="...">
						</div>
					  </div>
					</div>
					<div class="row">
					  <div class="col-sm-6">
						<div class="card card-border">
						  <div class="card-body">
							<h5 class="card-title"><img src="{% static 'images/press/Group.png' %}" class="" alt=""></h5>
							<H5 class="card-title">Встретились русский, немец, француз и два корейца: новые косметические марки в России</H5>
							  <p class="card-text">
									Haruharu сравнивают свои средства с утренней чашкой кофе — ритуал, который мы выполняем каждый день. Поэтому упаковки сделаны в виде стаканчиков. После того, как крем закончится, марка предлагает использовать их повторно — в качестве горшка для цветов, подставки для карандашей и тому подобного.
							  </p>
						  </div>
						  <img src="{% static 'images/press/Rectangle 48_25.png' %}" class="card-img-bottom" alt="...">
						</div>
					  </div>
					  <div class="col-sm-6">
						<div class="card card-border">
						  <div class="card-body">
							<h5 class="card-title-2"><img src="{% static 'images/press/Vector_9.png' %}" class="" alt=""></h5>
							<H5 class="card-title">Кофейные стаканы, конопля и котики — в бьюти-новинках этой недели</H5>
							  <p class="card-text">
								Теперь и в России — корейский бренд, который
								  прославился благодаря двум составляющим. Раз — упаковке кремов в виде стаканчика кофе.
								  Два — активному ингредиенту ферментированному черному рису.
							  </p>
						  </div>
						  <img src="{% static 'images/press/Rectangle 48_30.jpg' %}" class="card-img-bottom" alt="...">
						</div>
					  </div>
					</div>
					<div class="row">
					  <div class="col-sm-6">
						<div class="card card-border">
						  <div class="card-body">
							<h5 class="card-title"><img src="{% static 'images/press/wday v3.png' %}" class="" alt=""></h5>
							<H5 class="card-title">Новинки декоративной косметики для осеннего макияжа</H5>
							  <p class="card-text">
									Что касается ровного тона, то его обеспечит жидкая тональная основа
								  One Drop Miracle Air Tint. Средство, которое вы практически не будете
								  ощущать, скроет все несовершенства и благодаря мелкодисперсной пудре
								  в составе продержится весь рабочий день.
							  </p>
						  </div>
						  <img src="{% static 'images/press/Rectangle 48_31.jpg' %}" class="card-img-bottom" alt="...">
						</div>
					  </div>
					</div>
				</div>
		</div>
		</div>
	</section>

	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="p-4-press">
						АВГУСТ 2020
					</p>
					<div class="row">
					  <div class="col-sm-6">
						<div class="card card-border">
						  <div class="card-body">
							<h5 class="card-title"><img src="{% static 'images/press/Vector_4.png' %}" class="" alt="">.</h5>
							<H5 class="card-title">Зеркальный блеск для губ, молочко для продления загара и другие бьюти-новинки недели</H5>
						  </div>
						  <img src="{% static 'images/press/Rectangle 48_32.jpg' %}" class="card-img-bottom" alt="...">
						</div>
					  </div>
					  <div class="col-sm-6">
						<div class="card card-border">
						  <div class="card-body">
							<h5 class="card-title-2"><img src="{% static 'images/press/wday v3.png' %}" class="" alt=""></h5>
							<h5 class="card-title">Сыворотки, кремы и флюиды: главные новинки средств для лица</h5>
						  </div>
						  <img src="{% static 'images/press/Rectangle 48_33.jpg' %}" class="card-img-bottom" alt="...">
						</div>
					  </div>
					</div>
				</div>
		</div>
		</div>
	</section>

	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="p-4-press">
						ИЮНЬ 2020
					</p>
					<div class="row">
					  <div class="col-sm-6">
						<div class="card card-border">
						  <div class="card-body">
							<h5 class="card-title"><img src="{% static 'images/press/image 5.png' %}" class="" alt=""></h5>
							<H5 class="card-title">16 бьюти-новинок месяца</H5>
							  <p class="card-text">
									Мыло, напоминающее молочный пудинг, можно использовать и для умывания лица.
								  Но лучше не каждый день. Если вы думали, что самые инстаграмные патчи — золотые, значит,
								  вы не пробовали эти, напоминающие сашими из лосося. Корейское тональное средство,
								  которое ничем не уступает бестселлерам в категории BB-кремов, а по цене их даже обыгрывает.
							  </p>
						  </div>
						  <img src="{% static 'images/press/Rectangle 48_34.jpg' %}" class="card-img-bottom" alt="...">
						</div>
					  </div>
					</div>
				</div>
		</div>
		</div>
	</section>
<footer class="bg-light text-center text-lg-start footer-10">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
		  <h2 class="footer-heading list-unstyled"><img src="{% static 'images/Vector_footer.svg' %}"  alt=""></h2>
        <ul class="list-unstyled">
			  <li class="li-footer">
				Лидеры мирового рынка косметики Эксклюзивные корейские бренды
			  </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h2 class="footer-heading list-unstyled text-uppercase">меню</h2>
        <ul class="list-unstyled footer-links">
          <li>
            <a href="" class="footer-links">Бренды</a>
          </li>
          <li>
            <a href="" class="footer-links">Каталог</a>
          </li>
          <li>
            <a href="" class="footer-links">Партнерство</a>
          </li>
          <li>
            <a href="" class="footer-links">О компании</a>
          </li>
          <li>
            <a href="" class="footer-links">Пресса</a>
          </li>
          <li>
            <a href="" class="footer-links">Контакты</a>
          </li>
          <li>
            <a href="" class="footer-links">Интернет-магазин</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h2 class="footer-heading list-unstyled text-uppercase">бренды</h2>

        <ul class="list-unstyled footer-links">
          <li>
            <a href="#!" class="footer-links">Wella</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Londa</a>
          </li>
          <li>
            <a href="#!" class="footer-links">OPI</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Swarovski</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Nioxin</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Haruharu</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Nioxin</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h2 class="footer-heading list-unstyled text-uppercase">контакты</h2>

        <ul class="list-unstyled footer-links">
          <li class="">
			  +7 (499) 409-21-80
			115093 Россия, г. Москва,
			ул. Павловская, д. 27, стр. 4
			info@beforce.ru

          </li>
          <li>
			Италия +39 02 3046-2659
			</li>
			<li>
			Республика Корея +82 070 4680-5682
          </li>
		</ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-5 pt-4 border-top">
	<div class="col-lg-4 col-md-6 mb-4 mb-md-0">
		<p class=" mb-0">Design & development by © BeautyForce™</p>
	</div>
	  <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
		<ul class="">
		  <a href="" class=""><img src="{% static 'images/Group 1024.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1028.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1025.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1026.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1029.svg' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1030.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1031.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1027.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1032.png' %}"  alt=""></a>
		</ul>
	  </div>
		  <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
		  	<p class=" mb-0">Политика конфиденциальности</p>
		  </div>
	</div>
  </div>
</footer>
{% endblock content %}