{% extends  'home.html' %}
{% block title %} Регистрация {% endblock %}
{% load static %}
{% block content %}

	<section class="ftco-section">
		<div class="container" style="margin-top: 3rem;">
			<div class="row">
				<div class="col">
					<p class="p-4">
						Регистрация
					</p>

		<div class="container" style="margin-top: 3rem;">
		  <div class="row">
			  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3">
				  <form id="contact-form" class="form" action="#" method="POST" role="form">
                      <h5 class="card-title-2">1/3 инн</h5>
					  <div class="form-group">
						  <label class="form-label" for="name">Введите ИНН компании*</label>
						  <input type="text" class="form-control-register" id="name" name="name" placeholder="Введите ИНН компании*" tabindex="1" required>
					  </div>
                      <h5 class="card-title-2">2/3 контакты</h5>
					  <div class="form-group form-group-register">
						  <label class="form-label" for="name">Введите ваше имя*</label>
						  <input type="text" class="form-control-register" id="name" name="name" placeholder="Введите ваше имя*" tabindex="1" required>
					  </div>
					  <div class="form-group form-group-register">
						  <label class="form-label" for="name">Введите ваш номер*</label>
						  <input type="text" class="form-control-register" id="name" name="name" placeholder="Введите ваш номер*" tabindex="1" required>
					  </div>
					  <div class="form-group">
						  <label class="form-label" for="name">Введите вашу почту*</label>
						  <input type="text" class="form-control-register" id="name" name="name" placeholder="Введите вашу почту*" tabindex="1" required>
					  </div>
                      <h5 class="card-title-2">3/3 пароль</h5>
					  <div class="form-group form-group-register">
						  <label class="form-label" for="name">Придумайте пароль*</label>
						  <input type="text" class="form-control-register" id="name" name="name" placeholder="Придумайте пароль*" tabindex="1" required>
					  </div>
					  <div class="form-group">
						  <label class="form-label" for="name">Повторите новый пароль*</label>
						  <input type="text" class="form-control-register" id="name" name="name" placeholder="Повторите новый пароль*" tabindex="1" required>
					  </div>
					  <label class="toggle">
						<input class="toggle__input" type="checkbox" checked>
						<span class="toggle__label">
						  <span class="toggle__text">Я согласен с политикой конфиденциальности</span>
						</span>
					  </label>
					  <div class="">
						<button type="button" class="register-button">зарегистрироваться</button>
					  </div>
				  </form>
			  </div>
		  </div>
		</div>
				</div>
				<div class="col">
				<div class="card bg-dark text-white card-register">
				  <div class="">
					<h5 class="card-title card-text-register card-title-register">Функции личного кабинета</h5>
					<p class="card-text card-text-register">- оптовые цены</p>
					<p class="card-text card-text-register">- материалы для скачивания</p>
					<p class="card-text card-text-register">- оптовый онлайн-заказ из каталога</p>
					<p class="card-text"></p>
				  </div>
				</div>
				</div>
			</div>
		</div>
	</section>

<footer class="bg-light text-center text-lg-start footer-10">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
		  <h2 class="footer-heading list-unstyled"><img src="{% static 'images/Vector_footer.svg' %}"  alt=""></h2>
        <ul class="list-unstyled">
			  <li class="li-footer">
				Лидеры мирового рынка косметики Эксклюзивные корейские бренды
			  </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h2 class="footer-heading list-unstyled text-uppercase">меню</h2>
        <ul class="list-unstyled footer-links">
          <li>
            <a href="" class="footer-links">Бренды</a>
          </li>
          <li>
            <a href="" class="footer-links">Каталог</a>
          </li>
          <li>
            <a href="" class="footer-links">Партнерство</a>
          </li>
          <li>
            <a href="" class="footer-links">О компании</a>
          </li>
          <li>
            <a href="" class="footer-links">Пресса</a>
          </li>
          <li>
            <a href="" class="footer-links">Контакты</a>
          </li>
          <li>
            <a href="" class="footer-links">Интернет-магазин</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h2 class="footer-heading list-unstyled text-uppercase">бренды</h2>

        <ul class="list-unstyled footer-links">
          <li>
            <a href="#!" class="footer-links">Wella</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Londa</a>
          </li>
          <li>
            <a href="#!" class="footer-links">OPI</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Swarovski</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Nioxin</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Haruharu</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Nioxin</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h2 class="footer-heading list-unstyled text-uppercase">контакты</h2>

        <ul class="list-unstyled footer-links">
          <li class="">
			  +7 (499) 409-21-80
			115093 Россия, г. Москва,
			ул. Павловская, д. 27, стр. 4
			info@beforce.ru

          </li>
          <li>
			Италия +39 02 3046-2659
			</li>
			<li>
			Республика Корея +82 070 4680-5682
          </li>
		</ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-5 pt-4 border-top">
	<div class="col-lg-4 col-md-6 mb-4 mb-md-0">
		<p class=" mb-0">Design & development by © BeautyForce™</p>
	</div>
	  <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
		<ul class="">
		  <a href="" class=""><img src="{% static 'images/Group 1024.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1028.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1025.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1026.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1029.svg' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1030.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1031.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1027.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1032.png' %}"  alt=""></a>
		</ul>
	  </div>
		  <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
		  	<p class=" mb-0">Политика конфиденциальности</p>
		  </div>
	</div>
  </div>
</footer>
{% endblock content %}