{% extends  'home.html' %}
{% block title %} История заказов и настройки {% endblock %}
{% load static %}
{% block content %}

        <section class="ftco-section">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <p class="p-catalog">
                            Заказы
                        </p>
                    </div>
                    </div>
            </div>
        </section>
        <section class="ftco-section">
            <div class="container">
                <div class="row">
                    <div class="col">
                        {% if orders_history == None %}
                            <p class="p-4-details text-center">
                            </p>
                        {% else %}
                      {% for history in orders_history %}
                <div class="card card-order-history">
                  <div class="card-body">
					<div class="card-group">
					  <div class="card">
						<div class="card-body-brand-history">
						  <p class="item-header-orders-history">{{ history.status }}</p>
						  <p class="item-header-orders-1">
                            ул. {{ history.address.street }},
                            {{ history.address.home }} кв. {{ history.address.apartment_or_office }},
                            {{ history.address.city }}, {{ history.address.index }}
                          </p>
						  <p class="item-header-orders-1">{{ history.buying_type }} {{ history.masking_cart }}</p>
						  <p class="item-header-orders-1-green">{{ history.created_at }}</p>
                            <div class="btn-group dropright">
                              <button type="button" class="btn btn-toggle" data-toggle="dropdown" aria-expanded="false">
                                {{ history.order_sum }} ₽ <i class="fa fa-caret-down" aria-hidden="true"></i>
                              </button>
                                <div class="dropdown-menu text-muted dropdown-menu-history">
                                  <p class="item-header-card-order-user">Сумма</p>
                                  <p class="item-header-card-order-user-1">{{ history.order_sum }} ₽</p>
                                  <p class="item-header-card-order-user">Доставка:</p>
                                  <p class="item-header-card-order-user-1">{{ history.delivery }} ₽</p>
                                </div>
                            </div>
                        <button type="button" class="btn btn-telephone" onclick="location.href='tel:+1234567890'">
                            <img class="img-acount" src="{% static 'images/Vector_tel.png' %}"> Задать вопрос менеджеру
                        </button>
						  </div>
					  </div>
					  <div class="card">
						<div class="card-body-brand">
                  <div id="carouselcard{{ forloop.counter }}" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      {% for item in products %}
                        {% for product_carousel in item %}
                            {% if product_carousel.order.id == history.id %}
                                {% if forloop.counter == 1  %}
                                  <div class="carousel-item carousel-item-order carousel-item-order-history active">
                                {% else %}
                                  <div class="carousel-item carousel-item-order carousel-item-order-history">
                                {% endif %}
                                  <div class="card card-carousel ">
                                    <img class="orders-img" src="{{ product_carousel.product.image.url }}" alt="Card image cap">
                                  <div class="card-body-brand">
                                    <p class="item-header-order-history">{{ product_carousel.product.title }} </p>
                                    <p class="item-header-order-1-history">{{ product_carousel.price }}₽ <span class="item-header-order-1-history-1"> x{{ product_carousel.quantity }}</span></p>
                                  </div>
                                </div>
                            </div>
                          {% endif %}
                      {% endfor %}
                      {% endfor %}
                    </div>
                        <a class="carousel-control-next" href="#carouselcard{{ forloop.counter }}" role="button" data-slide="next">
                          <img src="{% static 'images/chevron_right_black_24dp 1.png' %}">
                        </a>
                    </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
                {% endfor %}
            </div>
                </div>
                    {% endif %}
            </div>
        </div>
        </section>

        <section class="ftco-section">
          <div class="container">
              <div class="row">
                  <div class="col">
                      <p class="p-catalog">
                          настройки
                      </p>
                  </div>
                  </div>
          </div>
      </section>

        <section class="ftco-section">
          <div class="container d-flex justify-content-center">
              <div class="row">
                  <div class="col">
                    <div class="card-deck-history">
                      <div class="card">
                        <div class="card-body card-history">
                          <h5 class="card-title">Сменить<br> имя</h5>
                          <form id="change_name" name="change_name" class="change_name" action="" method="POST" role="form">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" class="form-control-acount" name="change_name" placeholder="Введите новое" tabindex="2" required>
                            </div>
                                <button type="submit" class="register-button-acount">Сменить имя</button>
                        </form>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-body card-history">
                          <h5 class="card-title">Сменить<br> пароль</h5>
                          <form id="update-password" name="update-email" action="" method="POST" role="form">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="email" class="form-control-acount" name="acсount-email" placeholder="Введите почту для восстановления пароля" tabindex="2" required>
                            </div>
                                <button type="submit" class="register-button-acount">Отправить письмо</button>
                        </form>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-body card-history">
                          <h5 class="card-title">Адрес<br> доставки</h5>
                          <button type="button" class="btn btn-modal-history" data-toggle="modal" data-target="#addAdress">
                            <i class="fa fa-plus" aria-hidden="true"></i> Добавить адрес
                        </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
<footer class="bg-light text-center text-lg-start footer-10">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="margin-top: 3rem;">
		  <h2 class="footer-heading list-unstyled"><img src="{% static 'images/Vector_footer.svg' %}"  alt=""></h2>
        <ul class="list-unstyled">
			  <li class="li-footer">
				Лидеры мирового рынка косметики Эксклюзивные корейские бренды
			  </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="margin-top: 3rem;">
        <h2 class="footer-heading list-unstyled text-uppercase">меню</h2>
        <ul class="list-unstyled footer-links">
          <li>
            <a href="" class="footer-links">Бренды</a>
          </li>
          <li>
            <a href="" class="footer-links">Каталог</a>
          </li>
          <li>
            <a href="" class="footer-links">Партнерство</a>
          </li>
          <li>
            <a href="" class="footer-links">О компании</a>
          </li>
          <li>
            <a href="" class="footer-links">Пресса</a>
          </li>
          <li>
            <a href="" class="footer-links">Контакты</a>
          </li>
          <li>
            <a href="" class="footer-links">Интернет-магазин</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="margin-top: 3rem;">
        <h2 class="footer-heading list-unstyled text-uppercase">бренды</h2>

        <ul class="list-unstyled footer-links">
          <li>
            <a href="#!" class="footer-links">Wella</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Londa</a>
          </li>
          <li>
            <a href="#!" class="footer-links">OPI</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Swarovski</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Nioxin</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Haruharu</a>
          </li>
          <li>
            <a href="#!" class="footer-links">Nioxin</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="margin-top: 3rem;">
        <h2 class="footer-heading list-unstyled text-uppercase">контакты</h2>

        <ul class="list-unstyled footer-links">
          <li class="">
			  +7 (499) 409-21-80
			115093 Россия, г. Москва,
			ул. Павловская, д. 27, стр. 4
			info@beforce.ru

          </li>
          <li>
			Италия +39 02 3046-2659
			</li>
			<li>
			Республика Корея +82 070 4680-5682
          </li>
		</ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-5 pt-4 border-top">
	<div class="col-lg-4 col-md-6 mb-4 mb-md-0">
		<p class="mb-0 copyright">Design & development by © BeautyForce™</p>
	</div>
	  <div class="">
		<ul class="">
		  <a href="" class=""><img src="{% static 'images/Group 1024.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1028.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1025.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1026.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1029.svg' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1030.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1031.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1027.png' %}"  alt=""></a>
		  <a href="" ><img src="{% static 'images/Group 1032.png' %}"  alt=""></a>
		</ul>
	  </div>
		  <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
		  	<p class="copyright-1 mb-0">Политика конфиденциальности</p>
		  </div>
	</div>
  </div>
</footer>
            <div class="modal fade" id="addAdress" tabindex="-1" role="dialog" aria-labelledby="upload-avatar-title" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title modal-title-acount-1">Добавление адреса</h4>
                      <button type="button" class="close-acount-1" data-dismiss="modal" aria-hidden="true">Закрыть</button>
                  </div>
                  <div class="modal-body">
                    <form id="update-info" name="update-info" action="" method="POST" role="form">
                        {% csrf_token %}
                        <div class="form-group">
                          <input type="text" class="form-control-acount-1" name="city" placeholder="Город">
                        </div>
                        <div class="form-group">
                          <input type="text" class="form-control-acount-1" name="street" placeholder="Улица">
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <input type="text" class="form-control-acount-1" name="home" placeholder="Дом">
                          </div>
                          <div class="form-group col-md-6">
                            <input type="text" class="form-control-acount-1" name="entrance" placeholder="Подъезд">
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <input type="text" class="form-control-acount-1" name="floor" placeholder="Этаж">
                          </div>
                          <div class="form-group col-md-6">
                            <input type="text" class="form-control-acount-1" name="apartment_or_office" placeholder="Квартира/Офис">
                          </div>
                        </div>
                          <div class="text-center">
                        <button type="submit" class="btn register-button-acount-1">Добавить адрес</button>
                          </div>
                      </form>
                  </div>
                </div>
              </div>
          </div>
{% if messages %}
    {% for msg in messages %}
        {% if msg.message == '1' %}
            {% else %}
                <div class="modal fade" id="messagesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                    <div class="text-center p-t-30">
                                        <h5><img src="{% static 'images/modal-vector.png' %}"  alt=""></h5>
                                        <span class="modal-text">
                                                {{msg.message}}
                                        </span>
                                    </div>
                            </div>
                          <div class="modal-footer d-flex justify-content-center">
                            <button type="button" class="btn btn-secondary text-center" data-dismiss="modal">ОК</button>
                          </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
	<div class="modal fade" tabindex="-1" id="changeName">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body">
						<div class="text-center p-t-30">
							<h5><img src="{% static 'images/modal-vector.png' %}"  alt=""></h5>
							<span class="modal-text">
                                Вы успешно изменили имя
							</span>
						</div>
				</div>
			  <div class="modal-footer d-flex justify-content-center">
				<button type="button" class="btn btn-secondary text-center" data-dismiss="modal">ОК</button>
			  </div>
			</div>
		</div>
	</div>
{% endblock content %}